  <input class="nav__trigger-input" type="checkbox" id="trigger" aria-label="open the navigation"/>
  <label class="nav__trigger-finger" for="trigger">
    <span></span>
  </label>

  <ul class="nav__list">

	  <li class="nav__item">


		  <div class="navmenustyling">

			  <form class="navmenustyling" action="/send-email" method="post">
				  <p>Stuur ons een mail:</p>
				  <br>
					  <br>
				  <label for="to">Jou mail:</label>
          <input type="email" id="to" name="email" required="">
          <br>
          <label for="subject">Onderwerp:</label>
          <input type="text" id="subject" name="subject:" required="">
          <br>
          <label for="message">Boodschap:</label>
          <textarea id="message" name="message" required=""></textarea>
          <br>
          <input type="submit" value="Verstuur Email">
        </form>

	  </li>
</ul>
</div>