<p class="kalam-bold" style="font-size: 18px;">
	<br>
		<br>
	Wist je dat...<Br></Br>.... de saxofoon werd uitgevonden door de Belgische Adolphe Sax in 1846?
	</Br>Deze revolutionaire uitvinding heeft de wereld van de muziek getransformeerd</Br> en de saxofoon is sindsdien een essentieel onderdeel geworden van de jazzmuziek.</Br>
	Dankzij Sax's creativiteit heeft België een blijvende impact gehad op de muziekgeschiedenis...
	<Br></Br>
	<a   href="/logmenu">
		<img style="width :200px;" class="btn" src="images/adolf.jpg" />
	</a>

</p>


