


<p  class="kalam-bold" style="font-size: 18px;">
	<br>
		<br>
	Wist je dat...<Br></Br>
	...... de Belgische vibrafonist Fats Sadi een belangrijke rol speelde in de ontwikkeling van de Europese jazzscene in de jaren 1950 en 1960?</Br> Fats Sadi's onderscheidende bijdrage aan de vibrafoon en zijn samenwerking met internationale jazzgrootheden</Br> hebben hem een gerespecteerde plaats gegeven in de geschiedenis van de jazz.<br >
		<Br></Br>
		<a   href="/logmenu">
			<img style="width :200px;"  class="btn" src="images/fats.jpg" />
		</a>
	</p>



