<nav class="menu">



	<ol>

		

		<li class="menu-item">
			<a href="#0">Evenementen</a>
			<ol class="sub-menu">
				<li class="menu-item">
					<a  href="/nieuwpartituur">Nieuw nummer toevoegen</a>
				</li>
				<li class="menu-item">
					<a   href="/updatenummer">Nummer beheer</a>
				</li>
				<li class="menu-item">
					<a   href="/Overzichtparituren">Nummer overzicht</a>
				</li>
				<li class="menu-item">
					<a   href="/overzichtplaylijst"> overzichtplaylijst</a>
				</li>
				
			</ol>
		</li>

		<li class="menu-item">
			<a href="#0">Inventaris</a>
			<ol class="sub-menu">
				<li class="menu-item">
					<a  href="/nieuwpartituur">Nieuw nummer toevoegen</a>
				</li>
				<li class="menu-item">
					<a   href="/updatenummer">Nummer beheer</a>
				</li>
				<li class="menu-item">
					<a   href="/Overzichtparituren">Nummer overzicht</a>
				</li>
			</ol>
		</li>

		<li class="menu-item">
			<a href="#0">Financiën</a>
			<ol class="sub-menu">
				<li class="menu-item">
					<a  href="/nieuwpartituur">Nieuw nummer toevoegen</a>
				</li>
				<li class="menu-item">
					<a   href="/updatenummer">Nummer beheer</a>
				</li>
				<li class="menu-item">
					<a   href="/Overzichtparituren">Nummer overzicht</a>
				</li>
			</ol>
		</li>

		<li class="menu-item">
			<a   href="/instellingen">Instelling</a>
		</li>
	</ol>
</nav>