<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>

<body>
    


        <div style=" text-align: center;" >
     
         <br /> 
        <ul class="ul li">
              <li><a href="/bezoekers"><button  class="button2 ">      &nbsp;&nbsp;Historiek&nbsp;&nbsp;</button></a></li>
              <li><a href="/boekOns"><button    class="button2 large"> &nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a></li>
               
              <li><a href="/index"><button      class="button2">       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a></li>
            </ul>

 

        <br />
        <br /> 
      
        <p class="motivation-img3B">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De leden van Bsharp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><br>       
      
    



<div  style="width: 75%;" class="motivation-img3B">
    <div  style="float: right;>
      
        <img class="small-img45" src="images/band1.jpg" />
        <p class="small-img45" >&nbsp;&nbsp;&nbsp;&nbsp;Liesbeth&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <img class="small-img45" src="images/band2.jpg" /><br /><p class="small-img45" >&nbsp;&nbsp;&nbsp;&nbsp;Erwin&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <img class="small-img45" src="images/band3.jpg" /><br /><p class="small-img45" >&nbsp;&nbsp;&nbsp;&nbsp;Herbert&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <img class="small-img45" src="images/band4.jpg" /><br /><p class="small-img45" >&nbsp;&nbsp;&nbsp;&nbsp;Kenny&nbsp;&nbsp;&nbsp;&nbsp;</p>
   

   
        <img class="small-img45" src="images/band5.jpg" /><br /><p class="small-img45" >&nbsp;&nbsp;&nbsp;&nbsp;Johan&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <img class="small-img45" src="images/band6.jpg" /><br /><p class="small-img45" >&nbsp;&nbsp;&nbsp;&nbsp;Groep&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <img class="small-img45" src="images/band7.jpg" /><br /><p class="small-img45" >&nbsp;&nbsp;&nbsp;&nbsp;Wilfried&nbsp;&nbsp;&nbsp;&nbsp;</p>

        <img class="small-img45" src="images/band8.jpg" /><br />
     
         </div>
</div>









</div>



<div class="marquee2">
    <div class="marquee-content2">
    

              <img class="small-img" src="images/band1.jpg" /><br /><p class="small-img45" >Gitaar Johan</p><br />
        <br /> 
                 <img class="small-img" src="images/band2.jpg" /><br /><p class="small-img45" >Liesbeth</p><br />
        <br /> 
                    <img class="small-img" src="images/band3.jpg" /><br /><p class="small-img45" >Erwin</p><br />
        <br /> 
                       <img class="small-img" src="images/band4.jpg" /><br /><p class="small-img45" >Herbert</p><br />
        <br /> 
                          <img class="small-img" src="images/band5.jpg" /><br /><p class="small-img45" >Kenny</p><br />
        <br /> 
                             <img class="small-img" src="images/band6.jpg" /><br /><p class="small-img45" >Johan</p><br />
        <br /> 
                                <img class="small-img" src="images/band7.jpg" ><br /><p class="small-img45" >Groep</p><br />
        <br /> 
                             
                                 <img class="small-img" src="images/band8.jpg" /><br /> <p class="small-img45" >Wilfried</p> <br />
        <br /> 
    </div>
    







</div>  

<br> 

   <br> <br> 

   

      
     



  



 



    <script src="scripts/buttonLeden.js"></script>


</body>






