<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>

<body>
    


        <div style=" text-align: center;" >
     
         <br /> 
        <ul class="ul li">
              <li><a href="/bezoekers"><button  class="button2 ">      &nbsp;&nbsp;Wie is bsharp?&nbsp;&nbsp;</button></a></li>
              <li><a href="/boekOns"><button    class="button2 large"> &nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a></li>
               
              <li><a href="/index"><button      class="button2">       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a></li>
            </ul>

 

        <br />
        <br /> 
      
        <p class="motivation-img3B">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beste bezoeker&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><br>       
      


    <div class="marquee">
    <div class="marquee-content" style=" display: inline-block;">

  
                                <img class="small-img" src="images/band1.jpg" />
                         <img class="small-img" src="images/band2.jpg" />
               
                         <img class="small-img" src="images/band4.jpg" />
                            <img class="small-img"  src="images/band5.jpg" />
                             <img class="small-img"  src="images/band6.jpg" />
                                <img class="small-img"  src="images/band7.jpg"> 
       
                            
    </div>


<br> <br> 


<br> 

 <p  style=" white-space: normal;">
      Al meer dan 100 jaar bestond de fanfare van Vechmaal, tot ze geconfronteerd werd met een steeds kleinere bezetting, te weinig om nog te concerteren. In een ultieme poging om muziek in het dorp te houden ontstond het idee om samen met enkele muzikanten versterking te zoeken buiten de fanfare. Een gitarist werd gevonden in Vechmaal zelf. Samen met trompet, altsax en tenorsax was dit de aanzet om voor een bigband te gaan.

Al snel kwam er vanuit een nabij dorp versterking in vorm van een basgitaar en drum alsook twee trombones en een extra trompet uit Tongeren en Rijkhoven-Bilzen. De trend was gezet dankzij de goede begeleiding van trombonist Alain. Na een geslaagd openluchtconcert kwam er zomaar een toetsenist aangewaaid met de vraag om mee te doen. Ondertussen zijn de trombones en toetsen andere oorden gaan opzoeken.

Hoe zijn de muzikanten op de naam van de band gekomen?

“Omdat we allemaal van Jazz en blues houden kwamen we al snel op blue note (een term in de blues voor speciale tonen) maar zo waren er al veel. Uiteindelijk kwam Bsharp (B#) uit de bus. Het Engels voor si kruis, voor de leken: een noot die technisch niet bestaat. Achteraf bleek dat ook dit niet zo uniek was maar zolang we niet “te” beroemd worden in het buitenland zitten we goed”, aldus één van de leden.

Ondertussen is Bsharp een Jazzcombo geworden.
Het is onze bedoeling om ons publiek minstens op zijn stoel te laten mee swingen op onze nummers. De algemene stijl kan het best omschreven worden als easy listening Music.

We brengen ons repertoire met veel plezier naar andere plaatsen in Haspengouw en omgeving! Misschien binnenkort bij u…?   &nbsp;&nbsp
<br>   <br> <br>    
<a href="/bezoekersleden"><button class="motivation-img3B smaller">&nbsp;&nbsp; Meer info &nbsp;&nbsp;</button></a>   <br> <br> 
<a href="/boekOns"><button class="motivation-img3B smaller">&nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a>

</p>

   <br> <br> 



         <br /> 

      
     



  



 



    <script src="scripts/buttonLeden.js"></script>


</body>






