<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
   
    <link href="styles/StyleSheet.css"rel="stylesheet">
</head>

<body>
<section class="section">
	<h2 class="title">Wij</h2>
</section>
<section class="section">
	<h2 class="title">Zijn</h2>
</section>
<section class="section">
	<h2 class="title">Bsharp</h2>
</section>
<section class="section">
	<h2 class="title">JazzCombo</h2>
</section>


    
    
</body>

</html>
