<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>

<body>
    
    <nav class="nav">
  <%- include('navmenu.ejs') %>   
</nav>
<div class="marquee">
    <div class="marquee-content" style=" display: inline-block;">

     <img class="small-img45"  src="images/Erwin-23.jpg" />
                  
                                <img class="small-img45" src="images/Erwin-2.jpg" />
                         <img class="small-img45" src="images/Erwin-4.jpg" />
               
                         <img class="small-img45" src="images/Erwin-8.jpg" />
                         

  

       <img class="small-img45"  src="images/Erwin-36.jpg""> 
                            
    </div>

        <div style=" text-align: center;" >
     
         <br /> 
        <ul class="ul li">
              <li><a href="/bezoekersLeden"><button  class="btn">      &nbsp;&nbsp;Wie is Bsharp?&nbsp;&nbsp;</button></a></li>
              <li><a href="/boekOns"><button    class="btn"> &nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a></li>
               
              <li><a href="/index"><button      class="btn">       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a></li>
            </ul>

 

      


    




<br> 

 <p  class="btn" style=" white-space: normal; padding:25px; margin:25px;">
  <a href="/bezoekersledenLid1"><button class="btn">&nbsp;&nbsp; Meer info &nbsp;&nbsp;</button></a>
  <br><br><br> Welkom bij Bsharp: De Jazzcombo die Haspengouw doet swingen!

Al meer dan een eeuw vormde de fanfare van Vechmaal een muzikaal kloppend hart in de regio, maar zoals zo vaak gebeurt, evolueerde de tijd en veranderde de bezetting.<br><br> Uiteindelijk werd het aantal leden te klein om nog concerten te geven.<br> Maar muziek laat zich niet zomaar het zwijgen opleggen, zeker niet in een levendige gemeenschap als de onze.<br>

In een ultieme poging om de muzikale vlam brandend te houden, besloten enkele bevlogen muzikanten om buiten de traditionele paden te treden. <br><br>Wat begon als een bescheiden idee, groeide al snel uit tot een gedurfde onderneming: de geboorte van Bsharp. Een naam die niet alleen verwijst naar de passie voor Jazz en blues, maar ook naar het streven naar originaliteit.

Het verhaal van Bsharp is er een van samenwerking en gemeenschapszin.<br> <br><br>Vanuit verschillende dorpen en steden kwamen getalenteerde muzikanten samen, elk met hun eigen instrument en unieke achtergrond. Zo ontstond een veelzijdige samenstelling, waarbij gitaar, bas, drums, saxofoon, en meer samensmolten tot een krachtig geluid dat de ziel van de Jazz omarmt.

De keuze voor Jazz was geen toeval. Het is een genre dat leeft en ademt, dat verhalen vertelt en emoties uitdrukt. <br>En dat is precies wat Bsharp wil bereiken: het publiek meenemen op een muzikale reis, waarbij elke noot een verhaal vertelt en elke melodie een emotie uitlokt. Van bekende klassiekers tot verborgen parels, ons repertoire omvat een breed scala aan nummers, allemaal doordrenkt met de kenmerkende swing van de Jazz.

Maar Bsharp is meer dan alleen een band.<br>Het is een gemeenschap van gelijkgestemde zielen, gedreven door een gedeelde liefde voor muziek en een onstilbare honger naar creativiteit.<br> Samen streven we ernaar om niet alleen onze muzikale horizon te verbreden, maar ook om de gemeenschap te verrijken met onze klanken en ritmes.<br><br><br>

Met ons nieuwe repetitielokaal hebben we nu een thuisbasis waar we onze passie kunnen cultiveren en onze muziek kunnen laten groeien.<br> En we kijken ernaar uit om ons geluid te delen met het publiek, niet alleen in Haspengouw, maar hopelijk ook ver daarbuiten. Want muziek kent geen grenzen, en waar er oren zijn om te luisteren en harten om te raken, daar zal Bsharp zijn thuis vinden.

Dus vergezel ons, beste vrienden, op onze muzikale reis. Laat je meevoeren door de klanken van de Jazz, en wie weet, misschien vind je jezelf wel terug, dansend in de maat van Bsharp. <br>Want bij ons draait alles om één ding: de liefde voor muziek.  &nbsp;&nbsp
<br>  <br> 
   <br> <br> 
 <a href="/boekOns"><button  class="btn">&nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a>
</p>

 



         <br /> 

      
     



  



 



    <script src="scripts/buttonLeden.js"></script>


</body>






