<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>

<body>
    


        <div style=" text-align: center;" >
     
         <br /> 
        <ul class="ul li">
              <li><a href="/bezoekers"><button  class="button2 ">      &nbsp;&nbsp;Wie is bsharp?&nbsp;&nbsp;</button></a></li>
              <li><a href="/boekOns"><button    class="button2 large"> &nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a></li>
               
              <li><a href="/index"><button      class="button2">       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a></li>
            </ul>

 

        <br />
        <br /> 
      
        <p class="motivation-img3B">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De leden van Bsharp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><br>       
      
    



<div  class="motivation-img3B">
    <div  style="float: left;>
        <a href="bezoekersLedenLid1">
            <img class="small-img" src="images/greop.jpg" />
        </a>
        <img class="small-img" src="images/band1.jpg" />
        <img class="small-img" src="images/band2.jpg" />
        <img class="small-img" src="images/band3.jpg" />
        <img class="small-img" src="images/band4.jpg" />
    </div>

    <div style="float: right;">
        <img class="small-img" src="images/band5.jpg" />
        <img class="small-img" src="images/band6.jpg" />
        <img class="small-img" src="images/band7.jpg" />

        <img class="small-img" src="images/band8.jpg" />
        <img class="small-img" src="images/band5.jpg" />
    </div>
</div>



<div class="marquee3">
    <div class="marquee-content3">
    <a href="bezoekersLedenLid1">
    <img class="small-img" src="images/greop.jpg" />
    
</a>
     <img class="small-img" src="images/band8.jpg" />

<img class="small-img" src="images/band7.jpg" />
<img class="small-img" src="images/band6.jpg" />
<img class="small-img" src="images/band5.jpg" />
<img class="small-img" src="images/band4.jpg" />
<img class="small-img" src="images/band3.jpg" />
<img class="small-img" src="images/band2.jpg" />
<img class="small-img" src="images/band1.jpg" />
<img class="small-img" src="images/greop.jpg" />
    </div>
    



</div><div class="marquee2">
    <div class="marquee-content2">
    
    <a href="bezoekersLedenLid1">
    <img class="small-img" src="images/greop.jpg" />
   
</a>
     
              <img class="small-img" src="images/band1.jpg" />
                 <img class="small-img" src="images/band2.jpg" />
                    <img class="small-img" src="images/band3.jpg" />
                       <img class="small-img" src="images/band4.jpg" />
                          <img class="small-img" src="images/band5.jpg" />
                             <img class="small-img" src="images/band6.jpg" />
                                <img class="small-img" src="images/band7.jpg" >
                             
                                 <img class="small-img" src="images/band8.jpg" />  
    </div>
    







</div>  

<br> 

   <br> <br> 

   

      
     



  



 



    <script src="scripts/buttonLeden.js"></script>


</body>






