<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>

<body>
    


        <div style=" text-align: center;" >
     
         <br /> 
        <ul class="ul li">
              <li><a href="/bezoekers"><button  class="button2 ">      &nbsp;&nbsp;Wie is bsharp?&nbsp;&nbsp;</button></a></li>
              <li><a href="/boekOns"><button    class="button2 large"> &nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a></li>
               
              <li><a href="/index"><button      class="button2">       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a></li>
            </ul>

 

        <br />
        <br /> 
        <h1 class="motivation-img3B">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contact Formulier &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1><br>       

    

<br> <br> 


    <form action="/submit" method="post">
        <label class="button2" for="name">&nbsp;&nbsp;Naam:&nbsp;&nbsp;</label>
        <input class="button2"  type="text" id="name" name="name" required><br><br>
        <label class="button2"  for="email">&nbsp;&nbsp;E-mail:&nbsp;&nbsp;</label>
        <input class="button2" type="email" id="email" name="email" required><br><br><br>
        <label class="button2" for="message">&nbsp;&nbsp;Bericht:&nbsp;&nbsp;</label><br><br>
        <textarea style="height: 250px; width: 320px;"class="button2"  id="message" name="message" required></textarea><br>
        <button class="button2"  class="button" type="submit">&nbsp;&nbsp;Verzenden&nbsp;&nbsp;</button>
    </form>


         <br /> 

        
    <script src="scripts/buttonLeden.js"></script>


</body>






