<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="styles/main.css"rel="stylesheet">

</head>

<body>
    <br>
   <div id="Topofpage"></div>
<div class="vov roll-in-left fast ">
<div class="container7"><br><br><br><br><br><br><br><br><br><br>
     <div style=" text-align: center;" >
     
         <br /> 
        <ul class="ul li">
              <li><a href="/bezoekersLeden"><button  class="btn2">      &nbsp;&nbsp;Wie is Bsharp?&nbsp;&nbsp;</button></a></li>
              <li><a href="/bezoekers"><button    class="btn2"> &nbsp;&nbsp;Meer info&nbsp;&nbsp;</button></a></li>
               
              <li><a href="/index"><button      class="btn2">       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a></li>
              <br><br>
            </ul>

  
</div>
</div>

   <br>
   <div class="marquee">
    <div class="marquee-content" style=" display: inline-block;">

     <img class="small-img45"  src="images/Erwin-23.jpg" />
                  
                                <img class="small-img45" src="images/Erwin-2.jpg" />
                         <img class="small-img45" src="images/Erwin-4.jpg" />
               
                         <img class="small-img45" src="images/Erwin-8.jpg" />
                         

  

       <img class="small-img45"  src="images/Erwin-36.jpg""> 
                            
    </div class="btn"> 
            <h1 class="btn2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contact Formulier &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1><br>       
            <form class="btn2" action="/submit" method="post">
        <label class="btn2" for="name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Naam:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="btn2" type="text" id="name" name="name" required><br><br>
        <label class="btn2" for="email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="btn2" type="email" id="email" name="email" required><br><br><br>
        <label clclass="btn2"for="message">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bericht:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br><br>
        <textarea style="height: 250px; width: 320px;"class="btn2" id="message" name="message" required></textarea><br>
        <button class="btn2"  class="button" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Verzenden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </form>
        <br />
        <br /> 


    

<br> <br> 




         <br /> 
         <a href="#" class="butto"    id="addClassLink" onclick="addClassToDiv()">Wist je dat ? </a>

        
    <script src="scripts/buttonLeden.js"></script>


</body>






