<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>


<body class="content nav nav-pills container mt-5">

     <div class="poster">
  <%- include('NavigatieMenuLogin.ejs') %>
    <br /> <br />
      <h1>Contact Formulier</h1>



    <form action="/submit" method="post">
        <label for="name">Naam:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="email">E-mail:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="message">Bericht:</label><br>
        <textarea id="message" name="message" required></textarea><br>
        <button type="submit">Verzenden</button>
    </form>


         <br /> <br /> <br /> <br />
          <% const randomVar = Math.floor(Math.random() * 4) + 1; %>

          <%- include('weetje' + randomVar + '.ejs') %>
      

      
     
    </div>





        
       
  


           

    



    


    


      
 
 
    






    <script src="scripts/buttonLeden.js"></script>


</body>

</html>
