<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

     <link href="styles/woh.css"rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/vaibhav111tandon/vov.css@latest/vov.css" rel="stylesheet" type="text/css">
    
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script>

    <!-- Modernizr -->
    
    <link href="styles/main.css"rel="stylesheet">
</head>

<body>

<nav class="nav">
  <%- include('navmenu.ejs') %>   
</nav>


    </div>

    


    






<div id="Topofpage"></div>
<div class="vov roll-in-left fast ">
<div class="container7"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <p class="motivation-imgs" style="font-family:Lobster; font-size: 80px;">Bsharp - Jazzcombo<p>


  
</div>
</div>
<br><br>
<div class="vov roll-in-left fast ">

  <div class="h33";>
  <a href="/bezoekersLeden"><button type="button" class="btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Meer info&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a>

    </div>
</div><br><br><br><br>
</div><br><p style="font-size: 32px;   text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313;
" >Welkom bij Bsharp: De Jazzcombo die Haspengouw doet swingen!<p></div>
<div class="outer-div"  >
   <br><br><br><br>
 <br><br><br>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br>
<br><br><br><br><br><br><br><br><br><br>
<br>

     <% const randomVar = Math.floor(Math.random() * 4) + 1; %>
      <div  class="outer-div2" style="background-color:grey;"> 

      <Br></Br>
  <%- include('weetje' + randomVar + '.ejs') %>  
  

 
  

     
     

     
 </div>
 <br><br><br>
      <div id="bottomOfPage"></div>  
        <a href="#Topofpage" id="scrollToBottomBtn"  class="btn"  id="scrollToBottomBtn"><br><span class="up-arrow">&#x2B06;</span></a>
<br><br>
         
         
      

       
  



      
  

        



    <script src="scripts/buttonLeden.js"></script>
   
 
<script src="js/jquery-2.1.1.js"></script>
<script src="js/jquery.menu-aim.js"></script> <!-- menu aim -->
<script src="js/main.js"></script> <!-- Resource jQuery -->
      
    
    
</body>

</html>
