<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">
     <link href="styles/woh.css"rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/vaibhav111tandon/vov.css@latest/vov.css" rel="stylesheet" type="text/css">
</head>

<body>

<nav class="nav">
  <input class="nav__trigger-input" type="checkbox" id="trigger" aria-label="open the navigation"/>
  <label class="nav__trigger-finger" for="trigger">
    <span></span>
  </label>
 
  <ul class="nav__list"> 
    <li class="nav__item">
        
    </li>
    <li class="nav__item">
        <h1>stel een vraag</h>
    </li>
    <li class="nav__item">
    <form class="motivation-img3B" action="/submit" method="post">
  
  </label>
        <label class="button7 out" for="name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Naam:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="button7 out"  type="text" id="name" name="name" required><br><br>
        <label class="button7"  for="email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="button7 out" type="email" id="email" name="email" required><br><br><br>
        <label class="button7" for="message">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bericht:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br><br>
        <textarea style="height: 250px; width: 320px;"class="button7"  id="message" name="message" required></textarea><br>
        <button class="button7"  class="button" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Verzenden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </form>
      </a>
  
</nav>


<div id="Topofpage"></div>
<div class="vov roll-in-left fast ">
<div class="container7">
  <div class="button-container7">
    <a href="/bezoekersLeden"><button  class="button7">      &nbsp;&nbsp;Wie is bsharp?&nbsp;&nbsp;</button></a>
  <a href="/boekOns"><button    class="button7 out"> &nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a>
    <a href="/bezoekers"><button      class="button7">       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Historiek&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a>
  </div>
</div>
</div>



<br>
      
<div class="vov roll-in-left fast ">
 <img class="motivation-img" src="images/gr4.jpg" />
 </div>
     

<br><br>
          <% const randomVar = Math.floor(Math.random() * 4) + 1; %>
         
      

       
  <div id="myDiv"> 
    <a href="#" class="button7"    id="addClassLink" onclick="addClassToDiv()">Wist je dat ? </a>

  <%- include('weetje' + randomVar + '.ejs') %>    <a href="#Topofpage" id="scrollToBottomBtn"  class="motivation-img3o"  id="scrollToBottomBtn"><br><span class="up-arrow">&#x2B06;</span></a>
     
     

      <div id="bottomOfPage"></div>  
 </div>



      


        



    <script src="scripts/buttonLeden.js"></script>
   
 
      
    
    
</body>

</html>
