<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>

<body>
<div id="Topofpage"></div>

<div class="container7">
  <div class="button-container7">
    <a href="/bezoekersLeden"><button  class="button7">      &nbsp;&nbsp;Wie is bsharp?&nbsp;&nbsp;</button></a>
  <a href="/boekOns"><button    class="button7 out"> &nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a>
    <a href="/bezoekers"><button      class="button7">       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Historiek&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a>
  </div>
</div>



<br>
      

 <img class="motivation-img" src="images/greop.jpg" />

     

<br><br>
          <% const randomVar = Math.floor(Math.random() * 4) + 1; %>
         
      

               

  

  <%- include('weetje' + randomVar + '.ejs') %>

  
        
      

      <div id="bottomOfPage"></div>


        



    <script src="scripts/buttonLeden.js"></script>
   
     <a href="#Topofpage" id="scrollToBottomBtn"  class="motivation-img3o"  id="scrollToBottomBtn"><br><span class="up-arrow">&#x2B06;</span></a>
     
     

      <div id="bottomOfPage"></div>
</body>

</html>
