<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>

<body>

  
        <div style=" text-align: center; position: center; float:left;"  >
  <img class="motivation-img3k" src="images/topj.jpg" />
         
        <ul class="ul li">
              <li><a href="/bezoekers"><button  class="button2 ">      &nbsp;&nbsp;Wie is bsharp?&nbsp;&nbsp;</button></a></li>
              <li><a href="/boekOns"><button    class="button2 large"> &nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a></li>
               
              <li><a href="/index"><button      class="button2">       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a></li>
            </ul>




      

 <img class="motivation-img3B" src="images/greop.jpg" />

         

          <% const randomVar = Math.floor(Math.random() * 4) + 1; %>

          <%- include('weetje' + randomVar + '.ejs') %>
      

      
     

  </div>



 



    <script src="scripts/buttonLeden.js"></script>


</body>

</html>
