<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>

<body>
<div id="Topofpage"></div>
 <img class="motivation-img3B" src="images/topj.jpg" />        

  <br><br>
 <div style=" text-align: center; position: center; float:left;"  >
 
        
        <ul class="ul li"><br>
              <li><a href="/bezoekersLeden"><button  class="button2 ">      &nbsp;&nbsp;Wie is bsharp?&nbsp;&nbsp;</button></a></li>
              <li><a href="/boekOns"><button    class="button2 large"> &nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a></li>
              <li><a href="/bezoekers"><button      class="button2">       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Historiek&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a></li>
            </ul>

            <br>


      

 <img class="motivation-img3B" src="images/greop.jpg" />

     

<br><br>
          <% const randomVar = Math.floor(Math.random() * 4) + 1; %>
         
      
               <br><br><br><br>

               
 
  <div> 
  
  <a href="#bottomOfPage" id="scrollToBottomBtn"><button class="motivation-img3M" id="scrollToBottomBtn">Wist je dat...?<br><span class="down-arrow">&#x2B07;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="down-arrow">&#x2B07;</span></button></a>

  <%- include('weetje' + randomVar + '.ejs') %>

  </div>

        
      

      <div id="bottomOfPage"></div>


        </div >

 



    <script src="scripts/buttonLeden.js"></script>
    <br><br><br><br>
     <a href="#Topofpage" id="scrollToBottomBtn"  class="motivation-img3o"  id="scrollToBottomBtn"><br><span class="up-arrow">&#x2B06;</span></a>

</body>

</html>
