<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   
     <link href="styles/woh.css"rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/vaibhav111tandon/vov.css@latest/vov.css" rel="stylesheet" type="text/css">
    
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script>

    <!-- Modernizr -->
    
    <link href="styles/main.css"rel="stylesheet">
</head>

<body>

<nav class="nav">
  <%- include('navmenu.ejs') %>   
</nav>

<div id="Topofpage"></div>
<div class="vov roll-in-left fast ">
<div class="container7">
  <p style="font-family:Hhenum; font-size: 85px;">Bsharp - Jazzcombo<p>

  
  
  
</div>
</div>

<div class="vov roll-in-left fast ">

  <div class="h33";>
  <a href="/bezoekersLeden"><button type="button" class="btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wie is Bsharp?&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a>
   <a href="/boekOns"><button type="button" class="btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Boek Ons&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a>
   <a href="/bezoekers"><button type="button" class="btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Historiek&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a>
    </div>
</div>
</div>

<br>
      
<div class="vov roll-in-left fast ">
 <img class="motivation-img" src="images/gr4.jpg" /> 
 <br><br><br>
 
 <p style="font-family:Hhenum; font-size: 35px;">Welkom bij Bsharp: De Jazzcombo die Haspengouw doet swingen!<p>
 </div>
     

<br><br>
          <% const randomVar = Math.floor(Math.random() * 4) + 1; %>
         
      

       
  <div id="myDiv"> 
    <a href="#" class="butto"    id="addClassLink" onclick="addClassToDiv()">Wist je dat ? </a>

  <%- include('weetje' + randomVar + '.ejs') %>    
  <br><br <br><br> <br><br> <br><br> <br><br> <br><br>
  
  <a href="#Topofpage" id="scrollToBottomBtn"  class="btn"  id="scrollToBottomBtn"><br><span class="up-arrow">&#x2B06;</span></a>
     
     

      <div id="bottomOfPage"></div>  
 </div>



      
  

        



    <script src="scripts/buttonLeden.js"></script>
   
 
<script src="js/jquery-2.1.1.js"></script>
<script src="js/jquery.menu-aim.js"></script> <!-- menu aim -->
<script src="js/main.js"></script> <!-- Resource jQuery -->
      
    
    
</body>

</html>
