<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>


<body class="content nav nav-pills container mt-5">

   <div class="poster">
  <%- include('NavigatieMenuLogin.ejs') %>
    <br /> <br />

       

          
          <form action="/leden" method="post">
          <p class="motivation-imgB" > zoek een lid op nummer</p><br /> <br /><br /> <br /><br /> <br /><br /> <br /><button type="submit" class="button3">Zoek Lid...</button>
					<input class="button3" type="text" id="lidnummer" name="lidnummer" placeholder="Voer lidnummer in">
						
					</form>
     




       </div>





    <script src="scripts/buttonLeden.js"></script>


</body>

</html>
