<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>


<body class="content nav nav-pills container mt-5">

   <div class="poster">
  <%- include('NavigatieMenuLogin.ejs') %>
    <br /> <br />

       <ul>

       <li><br> <a  href="Ledenlijst" class="motivation-imgB">Leden lijst</a></li>
       <br<br>
        <li> <br><a href="ledenBeheer" class="motivation-imgB">Nieuwe leden toevoegen</a></li><br><br>
         <li><br> <a href="Ledenlijst" class="motivation-imgB">Leden lijst</a></li><br><br>


          
          
          <li> <form action="/leden" method="post">
          <p class="motivation-imgB" > zoek een lid op nummer</p>
					<input class="motivation-imgB" type="text" id="lidnummer" name="lidnummer" placeholder="Voer lidnummer in">
						<button type="submit" class="motivation-imgB">Bekijk Lid</button>
					</form></li>
       </ul>




       </div>





    <script src="scripts/buttonLeden.js"></script>


</body>

</html>
