<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>


<body class="content nav nav-pills container mt-5">
   <a class="button7" href="/logout" role="button">Log Out</a>
   <div class="poster">
  <%- include('NavigatieMenuLogin.ejs') %>
    <br /> <br />

       <a href="taken" class="motivation-imgB">Activiteiten/Taken</a><br>
                       <br><br><br><br>

    <a  href="Ledenlijst" class="button3">Leden Overzicht</a><a href="ledenBeheer" class="button3">Leden Beheer</a><br>
        
         <br><br><br> <a href="inventaris" class="button3"">Inventaris</a>
     
               <a href="doodle" class="button3">Doodle</a><br>
                  <br><br><br> <a href="financ" class="button3">Financiën</a>
                      <a href="instellingen" class="button3">Website instellingen</a><br>
              <br><br> <a href="muziek" class="motivation-imgB">Muziek</a>
                  <br>
                       <br><br><br><br><br><br>
          
         
     




       </div>





    <script src="scripts/buttonLeden.js"></script>


</body>

</html>
