<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>


<body class="content nav nav-pills container mt-5">

   <div class="poster">
  <%- include('NavigatieMenuLogin.ejs') %>
    <br /> <br />

       <ol>

       <li> <a href="Ledenlijst">Leden lijst</a></li>
        <li> <a href="Ledenlijst">Lid Details</a></li>
         <li> <a href="Ledenlijst">Leden lijst</a></li>
          <li><form action="/leden" method="post">
          <p> zoek een lid op nummer</p>
					<input type="text" id="lidnummer" name="lidnummer" placeholder="Voer lidnummer in">
						<button type="submit" class="button">Bekijk Lid</button>
					</form></li>
       </ol>




       </div>





    <script src="scripts/buttonLeden.js"></script>


</body>

</html>
