<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>


<body class="content nav nav-pills container mt-5">

   <div class="poster">
  <%- include('NavigatieMenuLogin.ejs') %>
    <br /> <br />

       

     <br> <a  href="Ledenlijst" class="motivation-imgB">Leden Overzicht</a><br>
        <br><br><br> <a href="ledenBeheer" class="motivation-imgB">Leden Beheer</a><br>
         <br><br><br> <a href="inventaris" class="motivation-imgB">Inventaris</a><br>
     
               <br><br><br> <a href="doodle" class="motivation-imgB">Doodle</a><br>
                  <br><br><br> <a href="financ" class="motivation-imgB">Financiën</a><br>
                      <br><br><br> <a href="instellingen" class="motivation-imgB">Website instellingen</a><br>
              <br><br><br> <a href="muziek" class="motivation-imgB">Muziek</a><br>
                  <br><br><br> <a href="taken" class="motivation-imgB">Activiteiten/Taken</a><br>
                       <br><br><br><br><br><br>
          
          <form action="/leden" method="post">
          <p class="motivation-imgB" > zoek een lid op nummer</p>
					<input class="motivation-imgB" type="text" id="lidnummer" name="lidnummer" placeholder="Voer lidnummer in">
						<button type="submit" class="motivation-imgB">Bekijk Lid</button>
					</form>
     




       </div>





    <script src="scripts/buttonLeden.js"></script>


</body>

</html>
