<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>

<body>
    
    <nav class="nav">
  <%- include('navmenu.ejs') %>   
</nav>

        <div style=" text-align: center;" >
     
         <br /> 
        <ul class="ul li">
              <li><a href="/bezoekersLeden"><button  class="butto">      &nbsp;&nbsp;Wie is Bsharp?&nbsp;&nbsp;</button></a></li>
              <li><a href="/boekOns"><button    class="butto"> &nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a></li>
               
              <li><a href="/index"><button      class="butto">       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</button></a></li>
            </ul>

 

        <br />
        <br /> 
      
      


    <div class="marquee">
    <div class="marquee-content" style=" display: inline-block;">

     <img class="small-img45"  src="images/Erwin-23.jpg" />
                  
                                <img class="small-img45" src="images/Erwin-2.jpg" />
                         <img class="small-img45" src="images/Erwin-4.jpg" />
               
                         <img class="small-img45" src="images/Erwin-8.jpg" />
                         

  

       <img class="small-img45"  src="images/Erwin-36.jpg""> 
                            
    </div>


<br> <br> 


<br> 

 <p  class="motivation-img3Buu" style=" white-space: normal; padding:25px; margin:25px;">
   <a href="/boekOns"><button class="motivation-img B3 smaller">&nbsp;&nbsp;Boek ons&nbsp;&nbsp;</button></a>
  <br><br><br> Bsharp is een Limburgs jazzcombo dat lichte, swingende jazzstandards wilt brengen, 
Noem het gerust ideaal terras muziek. <br>
<img class="small-img45"  src="images/Erwin-8.jpg"> 
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<img class="small-img45"  src="images/Erwin-36.jpg"> Ondertussen is Bsharp een Jazzcombo geworden.
Het is onze bedoeling om ons publiek minstens op zijn stoel te laten mee swingen op onze nummers. De algemene stijl kan het best omschreven worden als easy listening Music.

We brengen ons repertoire met veel plezier naar andere plaatsen in Haspengouw en omgeving! Misschien binnenkort bij u…?   &nbsp;&nbsp
<br>  <br> 
<a href="/bezoekersledenLid1"><button class="motivation-img B3 smaller">&nbsp;&nbsp; Meer info &nbsp;&nbsp;</button></a>   <br> <br> 

</p>

 



         <br /> 

      
     



  



 



    <script src="scripts/buttonLeden.js"></script>


</body>






