<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">
     <link href="styles/woh.css"rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/vaibhav111tandon/vov.css@latest/vov.css" rel="stylesheet" type="text/css">
    
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
</head>

<body>

<h1> Welkom ingelogd lid met naam : <%= user.id %> <h1>


<nav class="nav">
  <%- include('navmenu.ejs') %>   
</nav>
<nav class="nav">
  <%- include('navmenuInlog.ejs') %>   
</nav>




       <%- include('dropdow.ejs') %>   
       

       <br><br>
       <div class="button2"> info overzicht</div>

       <div class="button7"> info overzicht<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>










      <div id="bottomOfPage"></div>  




      


        



    <script src="scripts/buttonLeden.js"></script>
   
 
<script src="js/jquery-2.1.1.js"></script>
<script src="js/jquery.menu-aim.js"></script> <!-- menu aim -->
<script src="js/main.js"></script> <!-- Resource jQuery -->
      
    
    
</body>

</html>
