<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>


<body class="content nav nav-pills container mt-5">

   <div class="poster">
  <%- include('NavigatieMenuLogin.ejs') %>
    <br /> <br />

      
<h1>Delete Members</h1>
 
    <form action="/leden/deleteMembers" method="post" onsubmit="return confirmCheck()">
        <label for="confirmation">Voer het controlegetal in om te bevestigen:</label>
        <input type="text" id="confirmation" name="confirmation" required>
        <button type="submit">Delete All Members</button>
    </form>


    <script src="scripts/buttonLeden.js"></script>


</body>

</html>
