<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>


<body class="content nav nav-pills container mt-5">

 <div class="poster">
  <%- include('NavigatieMenuBezoeker.ejs') %>
    <br /> <br />
    <form  class="motivation-imgB" action="/leden/addUser" method="POST"  >

     

  <br>       <div class="login-container">
        <h2>Login</h2>
        <form id="login-form">
            <div class="form-group">
                <label style="float: left;" class="small-img2 " for="username">Gebruikersnaam:</label>
                <input style="float: right;" class="small-img2 " type="text" id="username" name="username" required>
                
                
            </div>
            <div class="form-group">
            <label  style="float: left; visibility: hidden;"  class="small-img2 " for="username">Gebruikersnaam:</label>
            <label style="float: left;" class="small-img2 "  for="password">Wachtwoord:</label><br>
            <input style="float: right;" class="small-img2 " type="password" id="password" name="password" required><br><br><br><br><b
                
            </div>
                
                
           <br><br><button style="float: inherit;" class="small-img2 " type="button" onclick="login()">Inloggen</button>
        </form>
        <p id="error-message" class="error-message"></p>
    </div>
    <script src="script.js"></script>
  




    <script src="scripts/buttonLeden.js"></script>


</body>

</html>
