<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>


<body class="content nav nav-pills container mt-5">

 <div class="poster">
  <%- include('NavigatieMenuBezoeker.ejs') %>
    <br /> <br />
    <form  class="motivation-imgB" action="/leden/addUser" method="POST"  >

     

  <br>       <div class="login-container">
        <h2>Login</h2>
        <form id="login-form">

         <div  >
            <div >
                <label  class="button2 " for="username">Gebruikersnaam:</label>
                <input  class="button2" type="text" id="username" name="username" required></input>
                </div>
                
             <br>
            
            <label  class="button2 "  for="password">Wachtwoord:</label>
            <input class="button2 " type="password" id="password" name="password" required></input>
                
            </div>
               </div>  
                
           <br><br><button  class="button2 "" type="button" onclick="login()">Inloggen</button>
        </form>
        <p id="error-message" class="error-message"></p>
    </div>
    <script src="script.js"></script>
  




    <script src="scripts/buttonLeden.js"></script>


</body>

</html>
