<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>

<body style=" background-size: auto;">
<div id="Topofpage"></div>



 

          <form  action="/logmenu" method="POST">
            <div><br><br><br>
              <label class="button2l" for="email"> &nbsp;&nbsp;&nbsp;&nbsp;Email &nbsp;&nbsp;&nbsp;&nbsp;</label>
              <input  class="button2r"type="email"  name="username">
            </div><br><br><br>
        <div>
              <label class="button2l" for="password"> &nbsp;&nbsp;&nbsp;&nbsp;Password &nbsp;&nbsp;&nbsp;&nbsp;</label>
              <input class="button2r" type="password"name="password">
           </div>
           <div><br><br><br>
            <button type="submit" class="button2r"> &nbsp;&nbsp;&nbsp;&nbsp;Login &nbsp;&nbsp;&nbsp;&nbsp;</button></div><br><br><br>
                 <a class="h3" href="/vergeten">Wachtwoord vergeten?</a><br><br><br>
          <a  class="h3" href="/Newlid">Nieuw lid</a><br><br><br>

          </form>

        

          
           
      



<br><br>
          
  
        
      

  


        



    <script src="scripts/buttonLeden.js"></script>
   
     <a href="#Topofpage" id="scrollToBottomBtn"  class="motivation-img3o"  id="scrollToBottomBtn"><br><span class="up-arrow">&#x2B06;</span></a>
     
     

      <div id="bottomOfPage"></div>
</body>

</html>
