<!-- menu.ejs -->
<div class="container">
	<div class="logo" id="logo">
		<img class="motivation-img" onclick="toggleMenu()" src="images/top8.jpg" />
	</div>
	<div  class="sidebar" id="sidebar">
		<ul>
			<li>
				<a href="/index">
					<button class="button">Log uit</button>
				</a>
			</li>
			<li>
				<a href="/ledenKeuzeMenu">
					<button class="button">KeuzeMenu</button>
				</a>
			</li>
			<li>
				<a href="/ledenBeheer">
					<button class="button">Leden Beheer</button>
				</a>
			</li>
			<li>
				<a href="/ledenlijst">
					<button class="button">Leden lijst</button>
				</a>
			</li>
		</ul>
	</div>
</div>
