<!-- menu.ejs -->
<div class="container">
	<div class="logo" id="logo">
		<img class="motivation-img" onclick="toggleMenu()" src="images/top8.jpg" />
	</div>
	<div  class="sidebar" id="sidebar">
		<ul>
			<li>
				<a href="/index">
					<button class="button2">&nbsp;&nbsp; Log uit &nbsp;&nbsp;</button>
				</a>
			</li>
			<li>
				<a href="/ledenKeuzeMenu">
					<button class="button2">&nbsp;&nbsp; Keuze  Menu &nbsp;&nbsp;</button>
				</a>
			</li>
			<li>
				<a href="/ledendelete">
					<button class="button2">&nbsp;&nbsp; Delete leden tabel in DB... &nbsp;&nbsp;</button>
				</a>
			</li>
			<li>
				<a href="/ledenzoeknr">
					<button class="button2">&nbsp;&nbsp; Zoek op lid nr &nbsp;&nbsp;</button>
				</a>
			</li>
		</ul>
	</div>
</div>
