<!-- navigatieMenu.ejs -->

    <div class="container">
        <div class="logo" id="logo">
          

        </div>
        <div  class="sidebar" id="sidebar">
            <ul>
                <li><a  href="/login" ><button style="float:inherit;" class="button2">&nbsp;&nbsp; Login &nbsp;&nbsp;</button></a></li>
                <li><a href="/boekOns"><button  style="float:inherit;" class="button2"> &nbsp;&nbsp; Boek-ons &nbsp;&nbsp;</button></a></li>
                <li><a href="/bezoekers"><button style="float:inherit;" class="button2">&nbsp;&nbsp; Bezoekers &nbsp;&nbsp;</button></a></li>
                <li><a href="/index"><button style="float:inherit;" class="button2">&nbsp;&nbsp; Home &nbsp;&nbsp;</button></a></li>
            </ul>
			
        </div>
    </div>


