<input class="nav__trigger-input" type="checkbox" id="trigger" aria-label="open the navigation"/>
<label class="nav__trigger-finger" for="trigger">
	<span></span>
</label>

<ul class="nav__list">
	<li class="nav__item">

	</li>
	<li class="nav__item">
		<h1 class="btn">stel een vraag.</h1>
	</li>
	<li class="nav__item">
		<form class="btn" action="/submit" method="post">

			</label>
			<label class="btn" for="name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Naam:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			<input class="btn"  type="text" id="name" name="name" required="">
				<br>
					<br>
						<label class="btn"  for="email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
						<input class="btn"out=""" type="email=""" id="email=""" name="email=""" required><br>
							<br>
								<br>
									<label class="btn" for="message">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bericht:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
									<br>
										<br>
											<textarea style="height: 250px; width: 320px;"class="btn"  id="message" name="message" required=""></textarea>
											<br>
												<button class="btn"  class="btn" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Verzenden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
											</form>
		</a>