  <input class="nav__trigger-input2" type="checkbox" id="trigger" aria-label="open the navigation"/>
  <label class="nav__trigger-finger2" for="trigger">
    <span></span>
  </label>
 
  <ul class="nav__list2"> 
    <li class="nav__item2">
        
    </li>
    <li class="nav__item"2>
        <h1>Lees jou berichten of stuur een ander lid een nieuwe bericht</h>
    </li>
    <li class="nav__item2">
    <form class="motivation-img3BI" action="/submit" method="post">
  
  </label>
        
        <textarea style="height: 250px; width: 320px;"class="button7"  id="message" name="message" required></textarea><br>
        <button class="button7"  class="button" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Verzenden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </form>
      </a>
  