<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>

<body>
<div id="Topofpage"></div>

<div class="container7">
  <h1 class="h" >Wachtwoord aanvragen</h1> </div>
</div>

<br>
 
        <form class="form-container">
      
         <div  >
            <div >
                <label  class="h3 " for="username"> Gebruikersnaam: </label>
                <input  class="button7 " type="text" id="username" name="username" required></input>
                </div>
                
             <br>
            
  
            </div>
               </div>  
                
           <br><br><button  class="button7 " type="button" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Opvragen &nbsp;&nbsp;&nbsp;&nbsp;&nbsp</button>

        </form>

      



<br><br>
          
  
        
      

  


        



    <script src="scripts/buttonLeden.js"></script>
   
     <a href="#Topofpage" id="scrollToBottomBtn"  class="motivation-img3o"  id="scrollToBottomBtn"><br><span class="up-arrow">&#x2B06;</span></a>
     
     

      <div id="bottomOfPage"></div>
</body>

</html>
