
			
			<br>
				
						<p class="motivation-img Flex">

							Wist je dat...<Br></Br>
							...... de Belgische vibrafonist Fats Sadi een belangrijke rol speelde in de ontwikkeling van de Europese jazzscene in de jaren 1950 en 1960? Fats Sadi's onderscheidende bijdrage aan de vibrafoon en zijn samenwerking met internationale jazzgrootheden hebben hem een gerespecteerde plaats gegeven in de geschiedenis van de jazz.<br >

								<img id="bottomOfPage" class="motivation-img B3 Small" src="images/fats.jpg" />
							</p>

					