


			<br>
				
						<p class="motivation-img Flex">

							Wist je dat...<Br></Br>
							..... de Belgische jazzscene niet alleen jazzstandards omarmt, maar ook hedendaagse en experimentele invloeden integreert? Ontdek de diversiteit van de Belgische jazzscene, waar muzikanten grenzen verleggen en nieuwe klanken verkennen, waarmee ze bijdragen aan de evolutie van het genre.<br >
								<a  href="/logmenu">
									<img id="bottomOfPage" class="motivation-img Flex " src="images/jazz.png" />
								</a>
							
							</p>

					