


<p class="motivation-img Flex">

	Wist je dat...<Br></Br>... Django Reinhardt, de Belgische gitarist en pionier van de gypsy jazz, slechts twee functionerende vingers aan zijn linkerhand had? Ondanks deze uitdaging ontwikkelde Django een unieke speelstijl die de gypsy jazzscene beïnvloedde. Zijn virtuositeit op de gitaar is een inspiratie voor vele muzikanten wereldwijd.<br >
</p>


<a   href="/logmenu">
	<img style="width :200px;" class="button7" src="images/da.png" />
</a>
