
  
<p class="motivation-img3B">
	
		<br >....... de saxofoon werd uitgevonden door de Belgische Adolphe Sax in 1846? Deze revolutionaire uitvinding heeft de wereld van de muziek getransformeerd en de saxofoon is sindsdien een essentieel onderdeel geworden van de jazzmuziek. Dankzij Sax's creativiteit heeft België een blijvende impact gehad op de muziekgeschiedenis...<br >
		<br ></p>
	<br />
	<img class="motivation-img3B2" src="images/adolf.jpg" />

<