


<br />
<br />
<br />
<br />
<div>
	<h2>Wist je dat...</h2>
	<img class="small-img" src="images/jazz.png" />
	<p class="small-img2">
		<br >
			<br >
				..... de Belgische jazzscene niet alleen jazzstandards omarmt, maar ook hedendaagse en experimentele invloeden integreert? Ontdek de diversiteit van de Belgische jazzscene, waar muzikanten grenzen verleggen en nieuwe klanken verkennen, waarmee ze bijdragen aan de evolutie van het genre.<br >
				<br >
</p>




</div>