body {
    color: burlywood;
    font-family: "Yu Gothic", serif;
    padding: 1%;
    padding-right: 12%;
    padding-left: 12%;
    
    font-family: "Yu Gothic", serif;
    background-image: url('/images/back.jpg'); /* Vervang '/pad/naar/achtergrond-afbeelding.jpg' door het pad naar je eigen afbeelding */
    background-size: cover; /* Zorgt ervoor dat de afbeelding de volledige achtergrond bedekt */
    background-position: center; /* Correcte gradial-gradient naar radial-gradient */
}

.h {
    font-size: 4em;
    style ="font-size: 4em;" font-family: "Yu Gothic", serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px gray;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    text-shadow: -1px -1px 0 #141313, 1px -1px 0 #141313, -1px 1px 0 #141313, 1px 1px 0 #141313; /* Shadow effect to simulate border */
}

/* styles.css */

.swipe-container {
    position: relative;
    width: 100%;
    height: 100%; /* Adjust height as needed */
    overflow: hidden;
}

#swipeButton {
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: burlywood;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}




.container77 {
    position: relative;
    width: 400px; /* width of the image container */
    height: 300px; /* height of the image container */
}

#moveableImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.target-area {
    width: 200px; /* width of the target area */
    height: 100px; /* height of the target area */
    border: 2px dashed #ccc;
    text-align: center;
    line-height: 100px;
    margin-top: 20px; /* space between image and target area */
}



.h3 {

    font-size: 25px;
    font-weight: bolder;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    float: right;
    margin-top: 10px; /* Ruimte tussen de knoppen */
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    animation: slide-in 1.5s ease forwards;
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}

    .h3.out {
        animation: slide-out 1.5s ease forwards;
    }


h1, h2, .ppp, .pp3, .pp, .pp2 {
    text-transform: uppercase;
    font-size: 4em;
    style ="font-size: 4em;" font-family: "Yu Gothic", serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px gray;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    text-shadow: -1px -1px 0 #141313, 1px -1px 0 #141313, -1px 1px 0 #141313, 1px 1px 0 #141313; /* Shadow effect to simulate border */
}

.motivation-img {
    border: 8px solid #141313;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    position: relative;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}
    .motivation-img.B3 {
        background: #333333;
        height: 1%;
        float: right;
        font-size: 1.2em;
        text-align: center;
        position: relative;
        flex: 1;
        margin-right: 20px;
        background-size: initial; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
        background-position: center;
        background-repeat: no-repeat;
        animation: slide-down 1s ease forwards;
        display: flex;
        align-items: center;
    }
    .motivation-img.Flex {

        display: flex;
        align-items: center;
    }


.container44 {
    display: flex;
    align-items: center;
}

    .motivation-img.Small {
       
        width:45%;
    }

    .motivation-img.Left {
       float: left;
    }

    .motivation-img.Right {
        float: right;
    }



.small-img {
    border: 8px solid #141313;

    border-radius: 30px;
    width: 35%;
    height: 15%;
    display: block;
    color: burlywood;
    font-family: "Yu Gothic", serif;



    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}

.small-img  Model45 {

    height: 35%;
    display: inline;
    margin: 0 auto;
    color: burlywood;
 
}

.button2r {
    border: 4px solid #141313;
    border-radius: 30px;
    white-space: nowrap;
    font-size: 35px;
    font-weight: bolder;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    background: radial-gradient(circle,#333333,#eb4034 );
    /*background: radial-gradient(circle, #333333, #eb4034,#333333);*/
    float: right;
    margin-right: 7%;
    display: inline-block;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}
.button2l {
    border: 4px solid #141313;
    border-radius: 30px;
    white-space: nowrap;
    font-size: 35px;
    font-weight: bolder;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    background: radial-gradient(circle,#333333,#eb4034 );
    /*background: radial-gradient(circle, #333333, #eb4034,#333333);*/
    float: left;
    margin-right: 7%;
    display: inline-block;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}
.button2 {
    border: 4px solid #141313;
    border-radius: 30px;
    white-space: nowrap;
    font-size: 35px;
    font-weight: bolder;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    background: radial-gradient(circle,#333333,#eb4034 );
    /*background: radial-gradient(circle, #333333, #eb4034,#333333);*/

    margin-right: 7%;
    display: inline-block;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}

    .button2.large {
        font-size: 48px; /* Stel de gewenste grootte in */
        border-radius: 35px;
    }

@media only screen and (max-width: 1080px) {
    .button2 {
        font-size: 35px;
        animation: slide-out 1.5s ease forwards;
    }

        .button2.large {
            font-size: 48px; /* Stel de gewenste grootte in */
            border-radius: 35px;
            animation: slide-in 1.5s ease forwards;
        }

}



.ul {
    list-style-type: none; /* Verwijder de standaardlijststijl */
    padding: 0;
    margin: 0;
}

    .ul li {
        display: inline-block; /* Weergeven als inline-block om naast elkaar te plaatsen */
        margin-right: 15px; /* Optionele marge tussen de knoppen */
    }


.form-container {
    width: 300px; /* Pas dit aan naar de gewenste breedte van het formulier */
    margin: 0 auto; /* Hiermee wordt het formulier gecentreerd op de pagina */
}

    .form-container label {
        display: block; /* Zorgt ervoor dat de labels boven elkaar worden geplaatst */
    }

    .form-container input {
        display: block; /* Zorgt ervoor dat de invoervelden boven elkaar worden geplaatst */
        margin-bottom: 10px; /* Voegt wat ruimte toe onder elk invoerveld */
        width: 100%; /* Neemt de volledige breedte van het container in */
    }

    .form-container button {
        display: block; /* Zorgt ervoor dat de knop als blok-element wordt weergegeven */
        margin: 20px auto 0; /* Plaatst de knop in het midden bovenaan */
    }



@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100);
    }
}







@media only screen and (max-width: 920px) {

}

@media only screen and (min-width: 1180px) {
    body {
        padding-right: 15%;
        padding-left: 15%;
    }

}

@media only screen and (min-width: 921px) {
    body {
        padding-right: 15%;
        padding-left: 15%;
    }

}

@media only screen and (min-width: 1921px) {
    body {
        padding-right: 25%;
        padding-left: 25%;
    }

    
}


@media only screen and (max-width: 580px) {
    
}

@media only screen and (max-width: 520px) {
   
}






@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    height: 250px;
    width: 400px;
    /* Je kunt dit aanpassen aan de gewenste breedte */
}

.marquee-image {
    display: inline-block;
    /* Vergroot de breedte van de container */

    animation: marquee 12s linear infinite alternate-reverse; /* Je kunt de duur en timing-functie aanpassen */
}

    .marquee-image:nth-child(2) {
        animation-delay: 5s; /* Hier kun je de vertraging voor elke afbeelding aanpassen */
    }

.marquee {
    overflow: hidden;
    float: revert-layer;
    white-space: nowrap;
    height:   fit-content;
    width: 100%; /* Vergroot de breedte van de container */
}

.marquee-content {
    height: fit-content;
    width: 100%;
    animation: marquee-scroll 9s linear infinite alternate; /* Duur van 10 seconden */
}

    .marquee-content span {
        padding-right: 40px; /* Vergroot de ruimte tussen items */
    }

@keyframes marquee-scroll {
    0% {
        transform: translateX(40%);
    }

    100% {
        transform: translateX(-40%);
    }
}

.marquee2 {
    overflow: hidden;
    white-space: normal;
    width: 20%;
    float: inherit;
    height: 900px;
    display: block;
}

.marquee-content2 {
    animation: marquee-scrollUp 9s linear infinite alternate; /* Duur van 10 seconden */
    height: 300px;
    float: inherit;
    width: 250px;
    display: block;
}

    .marquee-content2 span {
        display: block;
        float: inherit;
        /* Vergroot de ruimte tussen items */
    }

@keyframes marquee-scrollDown {
    0% {
        transform: translateY(40%);
    }

    100% {
        transform: translateY(-40%);
    }
}

.marquee3 {
    overflow: hidden;
    width: 10%;
    height: 10%;
    float: inherit;
    padding-left: 13%;
}

.marquee-content3 {
    height: 500px;
    animation: marquee-scrollDown 9s linear infinite alternate; /* Duur van 10 seconden */
}

    .marquee-content3 span {
        padding-right: 40px; /* Vergroot de ruimte tussen items */
    }

@keyframes marquee-scrollUp {
    0% {
        transform: translateY(-40%);
    }

    100% {
        transform: translateY(40%);
    }
}






.container7 {
    background-image: url('/images/rock.png');
    background-size: contain;
    background-position: center;
    height: 350px;
    background-repeat: no-repeat;
    font-size: 1.2em;
    text-align: center;
    position: center;
    background-size: initial; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
    animation: slide-in 1.5s ease forwards;
    border: 4px solid #141313;
    border-radius: 30px;
    display: flex; /* Gebruik flexbox om de knoppen te positioneren */
    flex-direction: column; /* Plaats de knoppen in een kolom */
    justify-content: flex-end; /* Plaats de knoppen onderaan de div */
    align-items: center; /* Horizontaal centreren */
    /* Ruimte binnen de container */



    border: 8px solid #141313;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    position: relative;

}

.button-container7 {
    /* Verwijder float: right; */
}

.button7 {
    border: 4px solid #141313;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bolder;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    background: radial-gradient(circle, #333333, #eb4034);
    margin-top: 10px; /* Ruimte tussen de knoppen */
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    animation: slide-in 1.5s ease forwards;
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}
.button7.out{
    animation: slide-out 1.5s ease forwards;
}














#container2 {
    position: relative;
    width: 100%;
    height: 300px; /* Pas dit aan naar de gewenste hoogte van je afbeelding */
}

#image2 {
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease; /* Voeg een soepele overgang toe aan de beweging */
}

.motivation-imgf {
    border: 4px solid #141313;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
}


.small-imgLeft {
    border: 4px solid #141313;
    border-radius: 50px;
    width: 1%;
    margin: 0 auto;
    float: left;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}
.small-img7 {
    border: 4px solid #141313;
    border-radius: 30px;
    width: 15%;
    margin: 0 auto;
    color: burlywood;
    animation: marquee-scrollDown 15s linear infinite;
    font-family: "Yu Gothic", serif;
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}

.small-img45 {
    border: 4px solid #141313;
    border-radius: 30px;
    width: 35%;
    height: 35%;
    display: inline;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
}


.small-img5 {
    width: calc(100% / 3 - 10px); /* Bereken de breedte van elke afbeelding (1/3 van de container breedte met wat marge) */
    margin-right: 10px; /* Voeg wat ruimte toe tussen de afbeeldingen */
    margin-bottom: 10px; /* Voeg wat ruimte toe onder de afbeeldingen */
    float: left; /* Laat de afbeeldingen naast elkaar zweven */
    border: 4px solid #141313;
    border-radius: 30px;
    width: 150px;
    height: 100px;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
}






.scrolling-images {
    position: relative;
    overflow: hidden; /* Verberg eventuele overflow van de afbeeldingen */
    height: 200px; /* Hoogte van het container element */
}

    .scrolling-images img {
        position: absolute;
        animation: scroll-down 50s linear infinite; /* Verander de 10s om de snelheid aan te passen */
    }

@keyframes scroll-down {
    0% {
        top: -100%; /* Beginpositie van boven */
    }

    100% {
        top: 100%; /* Eindpositie van onder */
    }
}

.container3 {
    width: 100%;
}

.box3 {
    display: inline-block;
    width: 45%; /* Stel de breedte in zoals gewenst */
    margin-right: 5%; /* Voeg wat ruimte toe tussen de divs */
}

.button3 {
    border: 9px solid #141313;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bolder;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    background: radial-gradient(circle,#eb4034,#571a13);
    margin-right: 5%;
    text-decoration: wavy;
    width: 40%;
    float: inherit;
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}

.small-img2 {
    border: 8px solid #141313;
    float: inline-end;
    border-radius: 30px;
    width: 35%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}

.container4 {
    display: flex;

}

.column {
    flex: 1; /* Laat de kolommen groeien om beschikbare ruimte in te nemen */
}

.small-img4 {
    width: 250px;
    height: 250px; /* Zorg ervoor dat de afbeeldingen de volledige breedte van de kolom innemen */
}

    .small-img4 + p {
        margin-top: 1px; /* Voeg wat ruimte toe tussen de afbeelding en de paragraaf */
    }



.myButton {
    background-color: #4CAF50; /* Groene achtergrondkleur */
    color: white; /* Witte tekstkleur */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centreren van de tekst */
    text-decoration: none; /* Geen onderstreping */
    display: inline-block; /* Blokelement */
    font-size: 16px; /* Tekstgrootte */
    margin: 4px 2px; /* Marge */
    transition-duration: 0.4s; /* Overgangsduur */
    cursor: pointer; /* Cursor op knop */
    position: absolute; /* Positie absoluut zodat we het kunnen verplaatsen */
}

    .myButton:hover {
        background-color: #45a049; /* Groene achtergrondkleur bij hover */
    }

.swipe-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

    .swipe-button.swiped {
        transform: translateX(100%);
    }
.motivation-img {
    border: 8px solid #141313;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    position: relative;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}



.motivation-imgB {
    background: radial-gradient(circle,#eb4034,#571a13);
    border: 8px solid #141313;
    float: inline-end;
    border-radius: 20px;
    width: 100%;
    color: #141313;
    float: left;
    align-items: end;
    padding: 1px;
    margin: 1px;
    font-family: "Yu Gothic", serif;
    font-size: 22px;
    color: burlywood;
    font-weight: bolder;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}

.motivation-img3 {
    background: #141313;
    border: 8px solid #141313;
    float: inline-end;
    border-radius: 30px;
    height: 6%;
    width: 100%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    position: relative;
    background-image: url('/images/top8.jpg');
    background-size: cover; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}



.motivation-img3B {
    background: #333333;
    border: 8px solid #141313;
    border-radius: 30px;
    height: 1%;
    float: right;
    width: 100%;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    font-size: 1.2em;
    text-align: center;
    position: center;
    background-size: initial; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
    animation: slide-down 1s ease forwards;
}
.motivation-img3Buu {
    background: #333333;
    border: 8px solid #141313;
    border-radius: 30px;
    height: 1%;
  
   
    color: burlywood;
    font-family: "Yu Gothic", serif;
    font-size: 1.2em;
    text-align: center;
    position: center;
    background-size: initial; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
    animation: slide-down 1s ease forwards;
}
.motivation-img3L {
    background: #333333;
    float: inline-end;
    border: 8px solid #141313;
    border-radius: 30px;
    height: 6%;
    width: 100%;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    font-size: 1em;
    text-align: center;
    position: center;
    background-size: cover; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
    animation: slide-down 1s ease forwards;
}
.motivation-img3k {
    background: #333333;
    border: 8px solid #141313;
    border-radius: 35px;
    height: 200px;
    font-weight: bolder;
    float: inline-end;
    width: 100%;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    font-size: 4em;
    background-image: url('/images/topj.jpg');
    background-size: cover; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}



.motivation-img3M {
    background: #333333;
    border: 8px solid #141313;
    border-radius: 35px;
    height: 120px;
    margin: 15px;
    padding: 25px;
    width: 95%;
    margin:25px;
    font-weight: bolder;
    float: inline-end;

    color: burlywood;
    padding-left: 55px;

    font-family: "Yu Gothic", serif;
    font-size: 1.5em;

    background-size: cover; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}


.motivation-img3o {
   height: 80px;
   float: inherit;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    font-size: 3em;
 
    background-color: transparent;
  /* Optioneel: voeg een rand toe voor visuele scheiding */

}


.motivation-img3B2 {
    background: #333333;
    border: 8px solid #141313;
    border-radius: 30px;
    height: 6%;
    width: 50%;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    position: center;
    background-size: cover; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
    text-shadow: -2px -2px 0 #141313, 2px -2px 0 #141313, -2px 2px 0 #141313, 2px 2px 0 #141313; /* Shadow effect to simulate border */
}

    .dark-theme {
        background-color: #141313; /* Dark background color */
    }

    /* Kopstijl */
h1, h2, .ppp, .pp3, .pp, .pp2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Yu Gothic", serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px gray;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    text-shadow: -1px -1px 0 #141313, 1px -1px 0 #141313, -1px 1px 0 #141313, 1px 1px 0 #141313; /* Shadow effect to simulate border */
}







p {
    font-size: 1.15rem;
    text-align: center;
    font-family: "Yu Gothic", serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px gray;
    color: burlywood;
    text-shadow: -1px -1px 0 #141313, 1px -1px 0 #141313, -1px 1px 0 #141313, 1px 1px 0 #141313; /* Shadow effect to simulate border */
}

    /* Paragraafstijlen */
    .ppp {
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
    }

    /* Container */
    .container {
        display: flex;

    }

    .dark-theme {
        background: #141313; /* Dark background color */
        border-color: dimgray;
    }

        .dark-theme img {
            border: 8px solid dimgray; /* Border color for images in dark mode */
            border-style: ridge;
        }

    /* Knopstijl */
    .button {
        background: linear-gradient(to left, #eb4034,red);
        border-top-right-radius: 50px; /* Afgeronde hoek voor de rechterbovenhoek */
        border-bottom-right-radius: 50px;
        color: white;
        color: burlywood;
        padding: 2px, 2px, 2px, 2px;
        border: inherit;
        font-family: "Yu Gothic", serif;
        cursor: pointer;
        width: 0; /* Begin met een breedte van 0 */
        transition: width 0.7s ease; /* Voeg een overgang toe voor een vloeiende animatie */
    }
        /* Stijl voor de vergrote knop bij hover */
        .button:hover,
        .button:focus {
            width: 100%; /* Vergroot de breedte naar 150px bij hover */
            color: grey;
            border: medium;
            border-color: white;
            color: burlywood;
            border-width: 3px;
            font-family: "Yu Gothic", serif;
            color: burlywood;
            
            transform: scale(1.1); /* Bij hover vergroot de grootte */
        }

        .button:nth-child(1):hover,
        .button:nth-child(1):focus {
            transition-delay: 0s; /* Geen vertraging voor het eerste element */
        }

        .button:nth-child(2):hover,
        .button:nth-child(2):focus {
            transition-delay: 0.5s; /* Geen vertraging voor het eerste element */
        }

        .button:nth-child(3):hover,
        .button:nth-child(3):focus {
            transition-delay: 0.8s; /* Geen vertraging voor het eerste element */
        }

    /* Selecteerstijlen */
    select {
        font-size: 0.8rem;
        width: 150px;
        text-align: right;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;

    }

    /* Knopstijl */


    li {
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        width: auto;
       
    }

    /* Gekleurde rechthoek */
    .gekleurde-rechthoek {
        width: 100%;
        height: auto;
        background-color: ghostwhite;
        color: white;
        text-align: center;
        padding: 2px;
        border-radius: 10px;
    }

    /* Inhoudscontainer */
    .content {
        width: 100%;

     

    }


    /* Posterstijlen */
    .poster {
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        font-family: "Yu Gothic", serif;
        text-align: center;
    }

    /* Motivatieafbeelding */


    .content {
        width: 100%;
        height: 100%;
    }
    /* Zijbalk */
    .sidebar {
        width: 0;
        height: auto;
        overflow-x: hidden;
        transition: 0.5s;
        font-family: "Yu Gothic", serif;
        max-width: 100%;
       
    }

        .sidebar ul {
            list-style: none;
            padding: 10px;
            font-family: "Yu Gothic", serif;
            width: 100px;
            max-width: 100%;
            
        }

            .sidebar ul li {
                padding: 15px;
                width: 100px;
                max-width: 100%;
                font-family: "Yu Gothic", serif;
                
            }

                .sidebar ul li a {
                    font-size: 1rem;
                    font-family: "Yu Gothic", serif;
                    font-weight: normal;
                    text-decoration: underline;
                    text-decoration-color: white;
                    text-shadow: 2px 2px 4px gray;
                    text-decoration: none;
                    width: 100px;
                    max-width: 100%;
                   
                }

    /* Toon zijbalk */
    .show-sidebar, .show {
        width: 190%;
        text-decoration: underline;
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
        font-weight: normal;
        text-decoration-color: white;
        text-shadow: 2px 2px 4px gray;
        color: darkgray;
        position: relative;
    
    }
    .show {
        display: block;
    }


























