/* Algemene opmaak */
/*ALS test zit de algemene opmaak in 3 onderverderlingen afhankelijk scherm grote, 
    bepaalde delen kunnen voor alle 3 gelden, dit moet nadien aangepast worden

*/

ul {
    list-style-type: none; /* Verwijder de standaardlijststijl */
    padding: 0;
    margin: 0;
}

    ul li {
        display: inline-block; /* Weergeven als inline-block om naast elkaar te plaatsen */
        margin-right: 10px; /* Optionele marge tussen de knoppen */
    }

/* Style the links inside the sidenav */
body {
    overflow: auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
   
    transform: scale(0.85);
}

.no-wrap {
    white-space: nowrap;
}

.motivation-imgf {
    border: 11px solid white;
    border-style: ridge;
    border-radius: 50px;
    width: 100%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
}
.small-img {
    border: 11px solid white;
    border-style: ridge;
    border-radius: 50px;
    width: 15%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
}

.button2 {
    border: 11px solid white;
    border-style: ridge;
    border-radius: 40px;
    font-size: 29px;
    font-weight: bolder;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    background: radial-gradient(circle,#eb4034,#571a13);
    white-space: nowrap;
    margin-right: 7%;
    display: inline-block;
}
.button3 {
    border: 9px solid white;
    border-style: ridge;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bolder;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    background: radial-gradient(circle,#eb4034,#571a13);
    white-space: nowrap;
    margin-right: 5%;
    text-decoration:wavy;
    width: 40%;
    float: right;
}

.small-img2 {
    border: 11px solid white;
    border-style: ridge;
    border-radius: 50px;
    width: 35%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
}

.myButton {
    background-color: #4CAF50; /* Groene achtergrondkleur */
    color: white; /* Witte tekstkleur */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centreren van de tekst */
    text-decoration: none; /* Geen onderstreping */
    display: inline-block; /* Blokelement */
    font-size: 16px; /* Tekstgrootte */
    margin: 4px 2px; /* Marge */
    transition-duration: 0.4s; /* Overgangsduur */
    cursor: pointer; /* Cursor op knop */
    position: absolute; /* Positie absoluut zodat we het kunnen verplaatsen */
}

    .myButton:hover {
        background-color: #45a049; /* Groene achtergrondkleur bij hover */
    }

.swipe-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

    .swipe-button.swiped {
        transform: translateX(100%);
    }
.motivation-img {
    border: 13px solid white;
    border-style: ridge;
    border-radius: 50px;
    width: 100%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    white-space: nowrap;
    position: relative;
  
   
}


.motivation-imgB {
    background: radial-gradient(circle,#eb4034,#571a13);
    border: 11px solid white;
    border-style: ridge;
    border-radius: 20px;
    width: 95%;
    color: black;
    float: left;
    align-items: end;
    padding: 5px;
    margin: 10px;
    font-family: "Yu Gothic", serif;
    font-size: 22px;
    color: burlywood;
    font-weight: bolder;
  
}

.motivation-img3 {
    background: radial-gradient(circle,#eb4034,#571a13);
    border: 13px solid white;
    border-style: ridge;
    border-radius: 50px;
    height: 6%;
    width: 100%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    white-space: nowrap;
    position: relative;
}
/* Voor schermen kleiner dan 650px */
@media only screen and (max-width: 150px) {
    /* CSS-regels hier */
    body {

        background: radial-gradient(circle, #571a13, #eb4034);
        height: 100vh;
        display: flex;
        font-family: Arial, sans-serif;
        color: burlywood;
    }

    .dark-theme {
        background: black; /* Dark background color */
        border-color: dimgray;
    }

        .dark-theme img {
            border: 15px solid dimgray; /* Border color for images in dark mode */
            border-style: ridge;
        }


    /* Kopstijl */
    h1, h2, .ppp, .pp3, .pp, .pp2 {
        text-transform: uppercase;
        font-size: 3rem;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;
        color: burlywood;
    }

    /* Paragraafstijlen */
    .ppp {
        font-size: 1rem;
 
    }

    /* Container */
    .container {
        /* display: flex;*/
    }



    /* Selecteerstijlen */
    select {
        font-size: 0.8rem;
        width: 150px;
        text-align: right;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;
     
    }

    /* Knopstijl */
    .button {
        background: linear-gradient(to left, #eb4034,red);
        border-top-right-radius: 50px; /* Afgeronde hoek voor de rechterbovenhoek */
        border-bottom-right-radius: 50px;
        color: white;
        padding: 2px, 2px, 2px, 2px;
        border: inherit;
        cursor: pointer;
        font-family: "Yu Gothic", serif;
        width: 0; /* Begin met een breedte van 0 */
        transition: width 0.7s ease; /* Voeg een overgang toe voor een vloeiende animatie */
        color: burlywood;
    }
        /* Stijl voor de vergrote knop bij hover */
        .button:hover,
        .button:focus {
            width: 110%; /* Vergroot de breedte naar 150px bij hover */
            color: grey;
            border: medium;
            border-color: white;
            color: burlywood;
            font-family: "Yu Gothic", serif;
            border-width: 3px;
            transform: scale(1.1); /* Bij hover vergroot de grootte */
        }

        .button:nth-child(1):hover,
        .button:nth-child(1):focus {
            transition-delay: 0s; /* Geen vertraging voor het eerste element */
        }

        .button:nth-child(2):hover,
       .button:nth-child(2):focus {
            transition-delay: 0.5s; /* Geen vertraging voor het eerste element */
        }

        .button:nth-child(3):hover,
        .button:nth-child(3):focus {
            transition-delay: 0.8s; /* Geen vertraging voor het eerste element */
        }


    li {

        font-size: 1rem;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        width: auto;
        text-align: left;
    }

    /* Gekleurde rechthoek */
    .gekleurde-rechthoek {
        width: 100%;
        height: auto;
        background-color: ghostwhite;
        color: white;
        text-align: center;
   
        border-radius: 10px;
    }

    /* Inhoudscontainer */
    .content {
        width: 100%;

        margin: 1px;

    }


    /* Posterstijlen */
    .poster {
        width: 60%;
        margin-left: 5%;
        margin-top: 10px;

        font-family: "Yu Gothic", serif;
        text-align: center;

    }

    /* Motivatieafbeelding */
    .motivation-img {
        border: 11px solid white;
        border-style: ridge;
        border-radius: 50px;
        width: 100%;

    }

    .content {
        width: 100%;
        height: 100%;

    }

    p, .pp {
        font-size: 2rem;

    }

    .dropdown, .sidebar {
        position: relative;
        display: inline-block;
    }

        .dropdown-content, .sidebar ul li a {
            font-family: "Yu Gothic", serif;
            font-weight: bold;

            width : 500px;
        }

    .dropdown-content {

        display: none;
        position: fixed;
        bottom: 100px;
        left: 100px;
        margin: 20px;
        z-index: 999;
        background-color: gray;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px 4px 40px;
            border-image-width: 3px;
            border-width: thick;
            border-color: indianred;
            text-decoration: none;
            display: block;
            width: 500px;
        }

            .dropdown-content a:hover {
                background-color: indianred;
            }

    .show {
        display: block;

    }

    .motivation-img {
        border: 5px solid white;
        border-style: ridge;
        border-radius: 50px;
        width: 100%;
        margin: 0 auto;
    }
}
.sidebar {
    width: 0;
    height: auto;
    overflow-x: hidden;
    transition: 0.5s;
    max-width: 100%;

}

    .sidebar ul {
        list-style: none;
        padding: 1px;
        max-width: 100%;
    }

        .sidebar ul li {
            padding: 5px;
            max-width: 100%;
        }

            .sidebar ul li a {
                font-size: 1rem;
                font-family: "Yu Gothic", serif;
                font-weight: normal;
                text-decoration: underline;
                text-decoration-color: white;
                text-shadow: 2px 2px 4px gray;
                text-decoration: none;
                max-width: 100%;
            }

                .sidebar ul li a:hover {
                    color: red; /* Verander de kleur naar geel wanneer erover wordt gehoverd */
                }

/* Toon zijbalk */
.show-sidebar, .show {
    width: 190%;
    text-decoration: underline;
    font-size: 1rem;
    font-family: "Yu Gothic", serif;
    font-weight: normal;
    text-decoration-color: white;
    text-shadow: 2px 2px 4px gray;
    color: darkgray;
    max-width: 100%;
}

.show {
    display: block;
    max-width: 100%;
}

















/* Voor schermen tussen 901px en 8px */
@media only screen and (min-width: 151px) and (max-width: 8250px) {
    /* CSS-regels hier */
    body {
        background: radial-gradient(circle, #571a13, #eb4034);
        transform: scale(0.85);
        display: flex;
        font-family: "Yu Gothic", serif;
    }
    .dark-theme {
        background-color: black; /* Dark background color */
    }
    /* Kopstijl */
    h1, h2, .ppp, .pp3, .pp, .pp2 {
        text-transform: uppercase;
        font-size: 3rem;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;
        color: burlywood;
        font-family: "Yu Gothic", serif;
    }

    p {
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;
        color: burlywood;
    }

    /* Paragraafstijlen */
    .ppp {
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
    }

    /* Container */
    .container {
        display: flex;

    }

    .dark-theme {
        background: black; /* Dark background color */
        border-color: dimgray;
    }

        .dark-theme img {
            border: 15px solid dimgray; /* Border color for images in dark mode */
            border-style: ridge;
        }

    /* Knopstijl */
    .button {
        background: linear-gradient(to left, #eb4034,red);
        border-top-right-radius: 50px; /* Afgeronde hoek voor de rechterbovenhoek */
        border-bottom-right-radius: 50px;
        color: white;
        color: burlywood;
        padding: 2px, 2px, 2px, 2px;
        border: inherit;
        font-family: "Yu Gothic", serif;
        cursor: pointer;
        width: 0; /* Begin met een breedte van 0 */
        transition: width 0.7s ease; /* Voeg een overgang toe voor een vloeiende animatie */
    }
        /* Stijl voor de vergrote knop bij hover */
        .button:hover,
        .button:focus {
            width: 110%; /* Vergroot de breedte naar 150px bij hover */
            color: grey;
            border: medium;
            border-color: white;
            color: burlywood;
            border-width: 3px;
            font-family: "Yu Gothic", serif;
            color: burlywood;
            transform: scale(1.1); /* Bij hover vergroot de grootte */
        }

        .button:nth-child(1):hover,
        .button:nth-child(1):focus {
            transition-delay: 0s; /* Geen vertraging voor het eerste element */
        }

        .button:nth-child(2):hover,
        .button:nth-child(2):focus {
            transition-delay: 0.5s; /* Geen vertraging voor het eerste element */
        }

        .button:nth-child(3):hover,
        .button:nth-child(3):focus {
            transition-delay: 0.8s; /* Geen vertraging voor het eerste element */
        }

    /* Selecteerstijlen */
    select {
        font-size: 0.8rem;
        width: 150px;
        text-align: right;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;

    }

    /* Knopstijl */


    li {
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        width: auto;
       
    }

    /* Gekleurde rechthoek */
    .gekleurde-rechthoek {
        width: 100%;
        height: auto;
        background-color: ghostwhite;
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    }

    /* Inhoudscontainer */
    .content {
        width: 100%;

     

    }


    /* Posterstijlen */
    .poster {
        width: 95%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        font-family: "Yu Gothic", serif;
        text-align: center;
    }

    /* Motivatieafbeelding */
    .motivation-img {
        border: 11px solid white;
        border-style: ridge;
        border-radius: 50px;
        width: 100%;
        font-family: "Yu Gothic", serif;
    }

    .content {
        width: 100%;
        height: 100%;
    }
    /* Zijbalk */
    .sidebar {
        width: 0;
        height: auto;
        overflow-x: hidden;
        transition: 0.5s;
        font-family: "Yu Gothic", serif;
        max-width: 100%;
       
    }

        .sidebar ul {
            list-style: none;
            padding: 10px;
            font-family: "Yu Gothic", serif;
            width: 100px;
            max-width: 100%;
            
        }

            .sidebar ul li {
                padding: 15px;
                width: 100px;
                max-width: 100%;
                font-family: "Yu Gothic", serif;
                
            }

                .sidebar ul li a {
                    font-size: 1rem;
                    font-family: "Yu Gothic", serif;
                    font-weight: normal;
                    text-decoration: underline;
                    text-decoration-color: white;
                    text-shadow: 2px 2px 4px gray;
                    text-decoration: none;
                    width: 100px;
                    max-width: 100%;
                   
                }

    /* Toon zijbalk */
    .show-sidebar, .show {
        width: 190%;
        text-decoration: underline;
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
        font-weight: normal;
        text-decoration-color: white;
        text-shadow: 2px 2px 4px gray;
        color: darkgray;
        position: relative;
        z-index: 1;
    }
    .show {
        display: block;
    }
}





























/* Voor schermen groter dan 850px */
@media only screen and (min-width: 8251px) {
    /* CSS-regels hier */
    body {
        background: radial-gradient(circle, darkgrey, #eb4034);
        height: 100vh;
        display: flex;
        font-family: Arial, sans-serif;
        font-family: "Yu Gothic", serif;
    }

    .dark-theme {
        background: black; /* Dark background color */
        border-color: dimgray;
    }

        .dark-theme img {
            border: 15px solid dimgray; /* Border color for images in dark mode */
            border-style: ridge;
        }


    /* Kopstijl */
    h1, .ppp, .pp3, .pp, .pp2 {
        text-transform: uppercase;
        font-size: 3rem;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;
        font-family: "Yu Gothic", serif;
    }

    /* Paragraafstijlen */
    .ppp {
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
    }

    /* Container */
    .container {
        display: flex;
        font-family: "Yu Gothic", serif;
    }



    /* Selecteerstijlen */
    select {
        font-size: 0.8rem;
        width: 150px;
        text-align: right;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;
    }
    /* Knopstijl */
    button {
        margin-left: 4px;
        background: radial-gradient(circle, #571a13, #eb4034);
        border-top-right-radius: 50px; /* Afgeronde hoek voor de rechterbovenhoek */
        border-bottom-right-radius: 50px;
        color: white;
        color: burlywood;
        border: inherit;
        font-family: "Yu Gothic", serif;
        padding: 2px, 2px, 2px, 2px;
        cursor: pointer;
        width: 0; /* Begin met een breedte van 0 */
        transition: width 0.7s ease; /* Voeg een overgang toe voor een vloeiende animatie */
    }
        /* Stijl voor de vergrote knop bij hover */
        button:hover,
        button:focus {
            width: 110%; /* Vergroot de breedte naar 150px bij hover */
            color: grey;
            border: medium;
            font-family: "Yu Gothic", serif;
            border-color: white;
            border-width: 3px;
            transform: scale(1.1); /* Bij hover vergroot de grootte */
        }

        button:nth-child(1):hover,
        button:nth-child(1):focus {
            transition-delay: 0s; /* Geen vertraging voor het eerste element */
        }

        button:nth-child(2):hover,
        button:nth-child(2):focus {
            transition-delay: 0.5s; /* Geen vertraging voor het eerste element */
        }

        button:nth-child(3):hover,
        button:nth-child(3):focus {
            transition-delay: 0.8s; /* Geen vertraging voor het eerste element */
        }

    /* Knopstijl */

    li {
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        width: auto;
        text-align: left;
    }

    /* Gekleurde rechthoek */
    .gekleurde-rechthoek {
        width: 100%;
        height: auto;
        background-color: ghostwhite;
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    }

    /* Inhoudscontainer */
    .content {
        width: 100%;
        max-width: 1200px;
        margin: 15px;
    }


    /* Posterstijlen */
    .poster {
        width: 50%;
        margin-left: 15%;
        margin-top: 100px;
        font-family: "Yu Gothic", serif;
        text-align: center;
    }

    /* Motivatieafbeelding */
    .motivation-img {
        border: 11px solid white;
        border-style: ridge;
        border-radius: 50px;
        width: 100%;
        font-family: "Yu Gothic", serif;
        position: relative;
        z-index: 1;
    }

    .content {
        width: 100%;
        height: 100%;
    }
    /* Zijbalk */
    .sidebar {
        width: 0;
        height: auto;
        overflow-x: hidden;
        transition: 0.5s;
        max-width: 100%;
        font-family: "Yu Gothic", serif;
    }

        .sidebar ul {
            list-style: none;
            padding: 10px;
            max-width: 100%;
            font-family: "Yu Gothic", serif;
        }

            .sidebar ul li {
                padding: 15px;
                max-width: 100%;
                font-family: "Yu Gothic", serif;
            }

                .sidebar ul li a {
                    font-size: 1rem;
                    font-family: "Yu Gothic", serif;
                    font-weight: normal;
                    text-decoration: underline;
                    text-decoration-color: white;
                    text-shadow: 2px 2px 4px gray;
                    text-decoration: none;
                    max-width: 100%;
                }

                    .sidebar ul li a:hover {
                        color: red; /* Verander de kleur naar geel wanneer erover wordt gehoverd */
                    }

    /* Toon zijbalk */
    .show-sidebar, .show {
        width: 190%;
        text-decoration: underline;
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
        font-weight: normal;
        text-decoration-color: white;
        text-shadow: 2px 2px 4px gray;
        color: darkgray;
        max-width: 100%;
    }

    .show {
        display: block;
        max-width: 100%;
    }
}