/* Algemene opmaak */
/*ALS test zit de algemene opmaak in 3 onderverderlingen afhankelijk scherm grote, 
    bepaalde delen kunnen voor alle 3 gelden, dit moet nadien aangepast worden

*/





.ul {
    list-style-type: none; /* Verwijder de standaardlijststijl */
    padding: 0;
    margin: 0;
}

    .ul li {
        display: inline-block; /* Weergeven als inline-block om naast elkaar te plaatsen */
        margin-right: 15px; /* Optionele marge tussen de knoppen */
    }

/* Style the links inside the sidenav */

body {
    color: burlywood;
    font-family: "Yu Gothic", serif;

    padding: 5%;
    padding-right: 18%;

    background: radial-gradient(circle, #ffffff, #eb4034,#571a13); /* Correcte gradial-gradient naar radial-gradient */

}

#container2 {
    position: relative;
    width: 100%;
    height: 300px; /* Pas dit aan naar de gewenste hoogte van je afbeelding */
}

#image2 {
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease; /* Voeg een soepele overgang toe aan de beweging */
}

.motivation-imgf {
    border: 11px solid #333333;

    border-radius: 50px;
    width: 100%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
}
.small-img {
    border: 11px solid #333333;

    border-radius: 50px;
    width: 15%;
    margin: 0 auto;

    color: burlywood;
    font-family: "Yu Gothic", serif;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Shadow effect to simulate border */
}
.small-img7 {
    border: 11px solid #333333;
    border-radius: 50px;
    width: 15%;
    margin: 0 auto;
    color: burlywood;
    animation: marquee-scrollDown 15s linear infinite;
    font-family: "Yu Gothic", serif;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Shadow effect to simulate border */
}


.small-img {
    border: 11px solid #333333;
    border-radius: 50px;
    width: 150px;
    height: 100px;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
}
.small-img5 {
    width: calc(100% / 3 - 10px); /* Bereken de breedte van elke afbeelding (1/3 van de container breedte met wat marge) */
    margin-right: 10px; /* Voeg wat ruimte toe tussen de afbeeldingen */
    margin-bottom: 10px; /* Voeg wat ruimte toe onder de afbeeldingen */
    float: left; /* Laat de afbeeldingen naast elkaar zweven */
    border: 11px solid #333333;
    border-radius: 50px;
    width: 150px;
    height: 100px;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
}
.button2 {
    border: 11px solid #333333;
    border-radius: 40px;
    white-space: nowrap;
    font-size: 35px;
    font-weight: bolder;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    background: radial-gradient(circle,#333333,#eb4034 );
    /*background: radial-gradient(circle, #333333, #eb4034,#333333);*/

    margin-right: 7%;
    display: inline-block;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.2);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Shadow effect to simulate border */
}

    .button2.large {
        font-size: 56px; /* Stel de gewenste grootte in */
        border-radius: 65px;
    }

@media only screen and (max-width: 1080px) {
    .button2 {
        font-size: 22px;
        animation: slide-out 1.5s ease forwards;
    }
        .button2.large {
            font-size: 36px; /* Stel de gewenste grootte in */
            border-radius: 65px;
            animation: slide-in 1.5s ease forwards;
        }

    h1, h2, .ppp, .pp3, .pp, .pp2 {
        text-transform: uppercase;
        font-size: 3rem;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;
        color: burlywood;
        font-family: "Yu Gothic", serif;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Shadow effect to simulate border */
    }
}
@media only screen and (max-width: 920px) {
    .button2 {
        font-size: 12px;
        animation: slide-out 2s ease forwards;
    }
        .button2.large {
            font-size: 26px; /* Stel de gewenste grootte in */
            border-radius: 65px;
            animation: slide-in 2s ease forwards;
        }

     

}

@media only screen and (min-width: 1180px) {
body{

   padding-right: 30%;
   padding-left: 30%;
}
    .button2 {
        font-size: 12px;
        transform: scale(0.9);
        animation: slide-out 2s ease forwards;
    }

        .button2.large {
            transform: scale(0.9);
            font-size: 18px; /* Stel de gewenste grootte in */
            border-radius: 65px;
            animation: slide-in 2s ease forwards;
        }
}

@media only screen and (min-width: 921px) {
    body {
        padding-right: 30%;
        padding-left: 30%;
    }

    .button2 {
        font-size: 12px;
        transform: scale(0.9);
        animation: slide-out 2s ease forwards;
    }

        .button2.large {
            transform: scale(0.9);
            font-size: 18px; /* Stel de gewenste grootte in */
            border-radius: 65px;
            animation: slide-in 2s ease forwards;
        }
}
@media only screen and (max-width: 580px) {
    .button2 {
        font-size: 12px;
        transform: scale(0.9);
        animation: slide-out 2s ease forwards;
    }

        .button2.large {
            transform: scale(0.9);
            font-size: 18px; /* Stel de gewenste grootte in */
            border-radius: 65px;
            animation: slide-in 2s ease forwards;
        }
 
}

@media only screen and (max-width: 520px) {
    .button2 {
        font-size: 10px;
        transform: scale(0.7);
        animation: slide-out 2s ease forwards;
    }

        .button2.large {
            transform: scale(0.9);
            font-size: 16px; /* Stel de gewenste grootte in */
            border-radius: 65px;
            animation: slide-in 2s ease forwards;
        }
  
    
}



@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100);
    }
}


.scrolling-images {
    position: relative;
    overflow: hidden; /* Verberg eventuele overflow van de afbeeldingen */
    height: 200px; /* Hoogte van het container element */
}

    .scrolling-images img {
        position: absolute;
        animation: scroll-down 50s linear infinite; /* Verander de 10s om de snelheid aan te passen */
    }

@keyframes scroll-down {
    0% {
        top: -100%; /* Beginpositie van boven */
    }

    100% {
        top: 100%; /* Eindpositie van onder */
    }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%; /* Vergroot de breedte van de container */
}

.marquee-content {
    display: inline-block;
    animation: marquee-scroll 15s linear infinite alternate; /* Duur van 10 seconden */
}

    .marquee-content span {
        padding-right: 40px; /* Vergroot de ruimte tussen items */
    }

@keyframes marquee-scroll {
    0% {
        transform: translateX(40%);
    }

    100% {
        transform: translateX(-40%);
    }
}

.marquee2 {
    overflow: hidden;

   height: 550px; /* Vergroot de breedte van de container */
}

.marquee-content2 {
    display: block;
    animation: marquee-scrollDown 15s linear infinite alternate; /* Duur van 10 seconden */
}

    .marquee-content2 span {
        padding-right: 40px; /* Vergroot de ruimte tussen items */
    }

@keyframes marquee-scrollDown {
    0% {
        transform: translateY(40%);
    }

    100% {
        transform: translateY(-40%);
    }
}


.container3 {
    width: 100%;
}

.box3 {
    display: inline-block;
    width: 45%; /* Stel de breedte in zoals gewenst */
    margin-right: 5%; /* Voeg wat ruimte toe tussen de divs */
}

.button3 {
    border: 9px solid #333333;

    border-radius: 10px;
    font-size: 22px;
    font-weight: bolder;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    background: radial-gradient(circle,#eb4034,#571a13);
   
    margin-right: 5%;
    text-decoration: wavy;
    width: 40%;
    float: right;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Shadow effect to simulate border */
}

.small-img2 {
    border: 11px solid #333333;

    border-radius: 50px;
    width: 35%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.5);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Shadow effect to simulate border */
}

.container4 {
    display: flex;

}

.column {
    flex: 1; /* Laat de kolommen groeien om beschikbare ruimte in te nemen */
}

.small-img4 {
    width: 250px;
    height: 250px; /* Zorg ervoor dat de afbeeldingen de volledige breedte van de kolom innemen */
}

    .small-img4 + p {
        margin-top: 1px; /* Voeg wat ruimte toe tussen de afbeelding en de paragraaf */
    }



.myButton {
    background-color: #4CAF50; /* Groene achtergrondkleur */
    color: white; /* Witte tekstkleur */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centreren van de tekst */
    text-decoration: none; /* Geen onderstreping */
    display: inline-block; /* Blokelement */
    font-size: 16px; /* Tekstgrootte */
    margin: 4px 2px; /* Marge */
    transition-duration: 0.4s; /* Overgangsduur */
    cursor: pointer; /* Cursor op knop */
    position: absolute; /* Positie absoluut zodat we het kunnen verplaatsen */
}

    .myButton:hover {
        background-color: #45a049; /* Groene achtergrondkleur bij hover */
    }

.swipe-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

    .swipe-button.swiped {
        transform: translateX(100%);
    }
.motivation-img {
    border: 13px solid #333333;

    border-radius: 50px;
    width: 100%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;

    position: relative;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.5);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Shadow effect to simulate border */
}



.motivation-imgB {
    background: radial-gradient(circle,#eb4034,#571a13);
    border: 11px solid #333333;

    border-radius: 20px;
    width: 100%;
    color: black;
    float: left;
    align-items: end;
    padding: 1px;
    margin: 1px;
    font-family: "Yu Gothic", serif;
    font-size: 22px;
    color: burlywood;
    font-weight: bolder;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.5);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Shadow effect to simulate border */
}

.motivation-img3 {
    background: black;
    border: 13px solid #333333;

    border-radius: 50px;
    height: 6%;
    width: 100%;
    margin: 0 auto;
    color: burlywood;
    font-family: "Yu Gothic", serif;
   
    position: relative;
    background-image: url('/images/top8.jpg');
    background-size: cover; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.5);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Shadow effect to simulate border */
}



.motivation-img3B {
    background: #333333;
    border: 30px solid #333333;
    border-radius: 50px;
    height: 6%;
    width: 100%;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    font-size: 1em;
    text-align: center;
    position: center;
    background-size: cover; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.5);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Shadow effect to simulate border */
    animation: slide-down 1s ease forwards;
}

.motivation-img3L {
    background: #333333;
    border: 30px solid #333333;
    border-radius: 50px;
    height: 6%;
    width: 100%;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    font-size: 1em;
    text-align: center;
    position: center;
    background-size: cover; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.5);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Shadow effect to simulate border */
    animation: slide-down 1s ease forwards;
}
.motivation-img3k {
    background: #333333;
    border: 20px solid #333333;
    border-radius: 50px;
    height: 25%;
    font-weight: bolder;
    width: 100%;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    font-size: 4em;
    text-align: center;
    position: center;
   
    background-image: url('/images/topj.jpg');
    background-size: cover; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.5);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Shadow effect to simulate border */
}








.motivation-img3B2 {
    background: #333333;
    border: 40px solid #333333;
    border-radius: 50px;
    height: 6%;
    width: 50%;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    position: center;
    background-size: cover; /* De achtergrondafbeelding bedekt het volledige gebied van de div zonder uit te rekken */
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.5);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Shadow effect to simulate border */
}

    .dark-theme {
        background-color: black; /* Dark background color */
    }

    /* Kopstijl */
h1, h2, .ppp, .pp3, .pp, .pp2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Yu Gothic", serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px gray;
    color: burlywood;
    font-family: "Yu Gothic", serif;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Shadow effect to simulate border */
}







p {
    font-size: 1rem;
    text-align: center;
    font-family: "Yu Gothic", serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px gray;
    color: burlywood;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Shadow effect to simulate border */
}

    /* Paragraafstijlen */
    .ppp {
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
    }

    /* Container */
    .container {
        display: flex;

    }

    .dark-theme {
        background: black; /* Dark background color */
        border-color: dimgray;
    }

        .dark-theme img {
            border: 15px solid dimgray; /* Border color for images in dark mode */
            border-style: ridge;
        }

    /* Knopstijl */
    .button {
        background: linear-gradient(to left, #eb4034,red);
        border-top-right-radius: 50px; /* Afgeronde hoek voor de rechterbovenhoek */
        border-bottom-right-radius: 50px;
        color: white;
        color: burlywood;
        padding: 2px, 2px, 2px, 2px;
        border: inherit;
        font-family: "Yu Gothic", serif;
        cursor: pointer;
        width: 0; /* Begin met een breedte van 0 */
        transition: width 0.7s ease; /* Voeg een overgang toe voor een vloeiende animatie */
    }
        /* Stijl voor de vergrote knop bij hover */
        .button:hover,
        .button:focus {
            width: 100%; /* Vergroot de breedte naar 150px bij hover */
            color: grey;
            border: medium;
            border-color: white;
            color: burlywood;
            border-width: 3px;
            font-family: "Yu Gothic", serif;
            color: burlywood;
            transform: scale(1.1); /* Bij hover vergroot de grootte */
        }

        .button:nth-child(1):hover,
        .button:nth-child(1):focus {
            transition-delay: 0s; /* Geen vertraging voor het eerste element */
        }

        .button:nth-child(2):hover,
        .button:nth-child(2):focus {
            transition-delay: 0.5s; /* Geen vertraging voor het eerste element */
        }

        .button:nth-child(3):hover,
        .button:nth-child(3):focus {
            transition-delay: 0.8s; /* Geen vertraging voor het eerste element */
        }

    /* Selecteerstijlen */
    select {
        font-size: 0.8rem;
        width: 150px;
        text-align: right;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;

    }

    /* Knopstijl */


    li {
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
        font-weight: bold;
        width: auto;
       
    }

    /* Gekleurde rechthoek */
    .gekleurde-rechthoek {
        width: 100%;
        height: auto;
        background-color: ghostwhite;
        color: white;
        text-align: center;
        padding: 2px;
        border-radius: 10px;
    }

    /* Inhoudscontainer */
    .content {
        width: 100%;

     

    }


    /* Posterstijlen */
    .poster {
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        font-family: "Yu Gothic", serif;
        text-align: center;
    }

    /* Motivatieafbeelding */


    .content {
        width: 100%;
        height: 100%;
    }
    /* Zijbalk */
    .sidebar {
        width: 0;
        height: auto;
        overflow-x: hidden;
        transition: 0.5s;
        font-family: "Yu Gothic", serif;
        max-width: 100%;
       
    }

        .sidebar ul {
            list-style: none;
            padding: 10px;
            font-family: "Yu Gothic", serif;
            width: 100px;
            max-width: 100%;
            
        }

            .sidebar ul li {
                padding: 15px;
                width: 100px;
                max-width: 100%;
                font-family: "Yu Gothic", serif;
                
            }

                .sidebar ul li a {
                    font-size: 1rem;
                    font-family: "Yu Gothic", serif;
                    font-weight: normal;
                    text-decoration: underline;
                    text-decoration-color: white;
                    text-shadow: 2px 2px 4px gray;
                    text-decoration: none;
                    width: 100px;
                    max-width: 100%;
                   
                }

    /* Toon zijbalk */
    .show-sidebar, .show {
        width: 190%;
        text-decoration: underline;
        font-size: 1rem;
        font-family: "Yu Gothic", serif;
        font-weight: normal;
        text-decoration-color: white;
        text-shadow: 2px 2px 4px gray;
        color: darkgray;
        position: relative;
    
    }
    .show {
        display: block;
    }
}



























